
      <app-header></app-header>
      <app-sidebar></app-sidebar>
      <div class="content-wrapper">

            <app-breadcumbs></app-breadcumbs>
            <router-outlet></router-outlet>
      </div>
      
      <app-footer></app-footer>