
  <div class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="../../index2.html"><b>Farmacias</b>Chavez</a>
      </div>

      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Registrarse para Iniciar Sesión</p>
  
          <form [formGroup]="form">

            <div class="form-group mb-1">
              <label for="" class="text-">Ingresar Correo:</label>
              <div class="control has-icons-right">
                <input 
                    type="text" 
                    class="form-control" 
                    name="email" 
                    placeholder="Ingresar Correo"
                    formControlName="email"
                    [(ngModel)]="username"
                    [class.is-invalid]="emailInvalid"
                    [class.is-valid] = "emailValid">
                    <!-- <span *ngIf="emailInvalid" class="icon is-small is-right">
                      <i class="fas fa-times"></i>
                    </span>
                    <span *ngIf="emailValid" class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span> -->
              </div>
              <div *ngIf="emailInvalid">
                <p class="help is-danger style" *ngIf="emailField!.invalid && emailField!.hasError('required')">
                  Es un campo obligatorio
                </p>
                <!-- <p class="help is-danger style" *ngIf="emailField!.invalid && emailField!.hasError('pattern')">
                  Ingrese un usuario válido!
                </p> -->
              </div>
            </div>
            
            <div class="form-group mb-1">
              <label for="">Ingresar Contraseña</label>
              <div class="control has-icons-right">
                <input 
                type="password" 
                class="form-control" 
                name="password" 
                placeholder="Ingresar Contraseña"
                formControlName="password"
                [(ngModel)]="password"
                [class.is-invalid]="passwordInvalid"
                [class.is-valid]="passwordValid">
                <!-- <span *ngIf="passwordInvalid" class="icon is-small is-right">
                  <i class="fas fa-times"></i>
                </span>
                <span *ngIf="passwordValid" class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span> -->
              </div>
              <div *ngIf="passwordInvalid">
                <p class="help is-danger style" *ngIf="passwordField!.invalid && passwordField!.hasError('required')">
                  Es un campo obligatorio.
                </p>
                <p class="help is-danger style" *ngIf="passwordField!.invalid && passwordField!.hasError('minlength')">
                  Ingrese mínimo 8 caracteres!
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember">
                  <label for="remember" class="ml-2">
                    Recordar Datos
                  </label>
                </div>
              </div>
 
              <div class="col-4 mt-2">
                <button type="submit" class="btn btn-outline-secondary btn-block" (click)="saveData()">Ingresar</button>
              </div>

            </div>
          </form>
  
          <div class="social-auth-links text-center mb-3 " id="my-signin2">
  
          </div>

          <p class="mb-1">
            <a href="forgot-password.html" class="link-pass">¿Olvidaste tu contraseña?</a>
          </p>
          <p class="mb-0">
            <a class="text-center link-reg">Registrar un nuevo Usuario</a>
          </p>
        </div>

      </div>
    </div>

  </div>


 
 <!-- <div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html"><b>Farmacias</b>Chavez</a>
    </div>

    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Registrarse para Iniciar Sesión</p>

        <form>

          <div class="form-group mb-1">
            <label for="" class="text-">Ingresar Usuario:</label>
            <div class="control has-icons-right">
              <input 
                  type="text" 
                  class="form-control" 
                  name="username" 
                  placeholder="Ingresar Correo"
                  [(ngModel)]="username" required>
            </div>
          </div>
          
          <div class="form-group mb-1">
            <label for="">Ingresar Contraseña</label>
            <div class="control has-icons-right">
              <input 
              type="password" 
              class="form-control" 
              name="password" 
              placeholder="Ingresar Contraseña"
              [(ngModel)]="password" required>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember" class="ml-2">
                  Recordar Datos
                </label>
              </div>
            </div>

            <div class="col-4 mt-2">
              <button type="submit" class="btn btn-outline-secondary btn-block" (click)="saveData()">Ingresar</button>
            </div>

          </div>
        </form>

        <div class="social-auth-links text-center mb-3 " id="my-signin2">

        </div>

        <p class="mb-1">
          <a href="forgot-password.html" class="link-pass">¿Olvidaste tu contraseña?</a>
        </p>
        <p class="mb-0">
          <a class="text-center link-reg">Registrar un nuevo Usuario</a>
        </p>
      </div>

    </div>
  </div>

</div>
 -->