.login-page {
    background-image: url('/../../../assets/dist/img/fondo-login.png');
    background-position: center center;
    background-size: cover;
}

.login-card-body,
.login-box {
    background-image: url('/../../../assets/dist/img/fondo-plomo.jpg');
    background-position: center center;
    background-size: cover;
    color: white
}

.login-box,
a {
    color: white;
}

.social-auth-links,
a {
    color: black;
}

.link-pass{
  color: white;
}


.link-reg{
  color: white;
}

.style {
  position: relative;
  top: 100%;
  z-index: 5;
  /* display: none; */
  max-width: 100%;
  padding: .25rem .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgb(245 46 65 / 83%);
  border-radius: .25rem;
}

.style-input {
  border-color: red;
}