<div class="container is-max-desktop degrade">
    <div class="row">
        <div class="col-12">
            <div class="columns">
              <div class="column is-mobile">
                <div class="tabs is-centered is-grapped is-boxed">
                  <ul>
                    <li class="tab1 is-active">
                      <a id="analist_form" name="analist_form">
                        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                        <span class="text-green">Formulario(Datos Adicionales)</span>
                      </a>
                    </li>
                    <li class="tab2">
                      <a id="product_information" name="product_information">
                        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                        <span class="text-green">Información del Producto</span>
                      </a>
                    </li>
                    <li class="tab3">
                      <a id="product_information2" name="product_information2">
                        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                        <span class="text-green">Datos de Compra</span>
                      </a>
                    </li>
                    <li class="tab4">
                      <a id="product_information3" name="product_information3">
                        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                        <span class="text-green">Información Adicional</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- <div class="column is-mobile">
                <div class="tabs is-centered is-grapped is-boxed">
                  <ul>
                    <li class="tab2">
                      <a id="product_information" name="product_information">
                        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                        <span class="text-green">Información del Producto</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div> -->
            </div>
            <form [formGroup]="form" id="form" name="form" (ngSubmit)="submit()" novalidate >
                <div class="columns is-2 is-multiline">
                      <div class="field column ">
                        <label class="label text-white">Fecha</label>
                        <div class="control has-icons-right">
                          <input 
                                formControlName="date" 
                                class="input" 
                                type="text" 
                                placeholder="Año-Mes-Dia"
                                [ngClass]="{'is-invalid': submitted && f.date.errors}"
                                [class.is-danger]="date_Invalid"
                                [class.is-success]="date_Valid">
                                <span *ngIf="date_Invalid" class="icon is-small is-right">
                                    <i class="fas fa-times"></i>
                                  </span>
                                  <span *ngIf="date_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                  </span>
                              <div *ngIf="submitted && f.date.errors || date_Invalid" class="div-absoluto">
                                  <p class="help is-danger style" *ngIf="date_Field!.hasError('required')">
                                      Este campo es Obligatorio!
                                  </p>
                                  <p class="help is-danger style" *ngIf="date_Field!.hasError('minlength')">
                                    Mínimo 3 caracteres!
                                  </p>
                              </div>
                        </div>
                      </div>
                      
                      <div class="field column ">
                        <label class="label text-white">Analista</label>
                        <div class="control has-icons-right">
                          <input 
                                formControlName="analist_name" 
                                class="input" 
                                type="text" 
                                placeholder="Nombre" 
                                value=""
                                [ngClass]="{'is-invalid': submitted && f.analist_name.errors}"
                                [class.is-danger]="name_analist_Invalid"
                                [class.is-success]="name_analist_Valid">
                                <span *ngIf="name_analist_Invalid" class="icon is-small is-right">
                                    <i class="fas fa-times"></i>
                                </span>
                                <span *ngIf="name_analist_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            <div *ngIf="submitted && f.analist_name.errors || name_analist_Invalid" class="div-absoluto">
                                <p class="help is-danger style" *ngIf="name_analist_Field!.hasError('required')">
                                    Este campo es Obligatorio!
                                </p>
                                <p class="help is-danger style" *ngIf="name_analist_Field!.hasError('minlength')">
                                    Mínimo 3 caracteres!
                                </p>
                            </div>
                        </div>
                      </div>
                      
                      <div class="field column ">
                        <label class="label text-white">Categoría</label>
                        <div class="control has-icons-right">
                          <input 
                                formControlName="category" 
                                class="input" type="text" 
                                placeholder="Escribir Categoría" 
                                [ngClass]="{'is-invalid': submitted && f.category.errors}"
                                [class.is-danger]="category_Invalid"
                                [class.is-success]="category_Valid">
                                <span *ngIf="category_Invalid" class="icon is-small is-right">
                                    <i class="fas fa-times"></i>
                                </span>
                                <span *ngIf="category_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            <div *ngIf="submitted && f.category.errors || category_Invalid" class="div-absoluto">
                                <p class="help is-danger style" *ngIf="category_Field!.hasError('required')">
                                    Este campo es Obligatorio!
                                </p>
                                <p class="help is-danger style" *ngIf="category_Field!.hasError('minlength')">
                                    Mínimo 3 caracteres!
                                </p>
                            </div>
                        </div>
                      </div>
                      <div class="field column ">
                        <label class="label text-white">Código ATC</label>
                        <div class="control has-icons-right">
                          <input 
                                formControlName="atc_code" 
                                class="input" type="text" 
                                placeholder="Escribir Código" 
                                [class.is-success]="atc_code_Valid">
                                <span *ngIf="atc_code_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            <div *ngIf="atc_code_Invalid" class="div-absoluto">
                                <p class="help is-danger style2" >
                                    Este campo no es Obligatorio!
                                </p>
                            </div>
                        </div>
                        
                      </div>
                      <div class="field column ">
                        <label class="label text-white">Primer Nivel</label>
                        <div class="control has-icons-right">
                          <input 
                                formControlName="first_level" 
                                class="input" 
                                type="text" 
                                placeholder="Escribir Nivel"
                                [ngClass]="{'is-invalid': submitted && f.first_level.errors}"
                                [class.is-danger]="first_level_Invalid"
                                [class.is-success]="first_level_Valid">
                                <span *ngIf="first_level_Invalid" class="icon is-small is-right">
                                    <i class="fas fa-times"></i>
                                </span>
                                <span *ngIf="first_level_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            <div *ngIf="submitted && f.first_level.errors || first_level_Invalid" class="div-absoluto">
                                <p class="help is-danger style" *ngIf="first_level_Field!.hasError('required')">
                                    Este campo es Obligatorio!
                                </p>
                                <p class="help is-danger style" *ngIf="first_level_Field!.hasError('minlength')">
                                    Mínimo 3 caracteres!
                                </p>
                            </div>
                        </div>
                      </div>
                      
                </div>
                <div class="columns is-2 is-multiline" >
                                  
                      <div class="field column">
                        <label class="label text-white">Segundo Nivel</label>
                        <div class="control has-icons-right">
                          <input 
                                formControlName="second_level" 
                                class="input" 
                                type="text" 
                                placeholder="Escribir" 
                                [ngClass]="{'is-invalid': submitted && f.second_level.errors}"
                                [class.is-danger]="second_level_Invalid"
                                [class.is-success]="second_level_Valid">
                                <span *ngIf="second_level_Invalid" class="icon is-small is-right">
                                    <i class="fas fa-times"></i>
                                </span>
                                <span *ngIf="second_level_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            <div *ngIf="submitted && f.second_level.errors || second_level_Invalid" class="div-absoluto">
                                <p class="help is-danger style" *ngIf="second_level_Field!.hasError('required')">
                                    Este campo es Obligatorio!
                                </p>
                                <p class="help is-danger style" *ngIf="second_level_Field!.hasError('minlength')">
                                    Mínimo 3 caracteres!
                                </p>
                            </div>
                        </div>
                      </div>
                      
                      <div class="field column">
                        <label class="label text-white">Tercer Nivel</label>
                        <div class="control has-icons-right">
                          <input 
                                formControlName="third_level" 
                                class="input" 
                                type="text" 
                                placeholder="Text" 
                                value=""
                                [ngClass]="{'is-invalid': submitted && f.third_level.errors}"
                                [class.is-danger]="third_level_Invalid"
                                [class.is-success]="third_level_Valid">
                                  <span *ngIf="third_level_Invalid" class="icon is-small is-right">
                                    <i class="fas fa-times"></i>
                                  </span>
                                  <span *ngIf="third_level_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                  </span>
                              <div *ngIf="submitted && f.third_level.errors || third_level_Invalid" class="div-absoluto">
                                  <p class="help is-danger style" *ngIf="third_level_Field!.hasError('required')">
                                      Este campo es Obligatorio!
                                  </p>
                                  <p class="help is-danger style" *ngIf="third_level_Field!.hasError('minlength')">
                                    Mínimo 3 caracteres!
                                  </p>
                              </div>
                        </div>
                        
                      </div>
                      <div class="field column">
                        <label class="label text-white">Cuarto Nivel</label>
                        <div class="control has-icons-right">
                          <input 
                                formControlName="fourth_level" 
                                class="input" 
                                type="text" 
                                placeholder="Text" 
                                value=""
                                [ngClass]="{'is-invalid': submitted && f.fourth_level.errors}"
                                [class.is-danger]="fourth_level_Invalid"
                                [class.is-success]="fourth_level_Valid">
                                  <span *ngIf="fourth_level_Invalid" class="icon is-small is-right">
                                    <i class="fas fa-times"></i>
                                  </span>
                                  <span *ngIf="fourth_level_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                  </span>
                              <div *ngIf="submitted && f.fourth_level.errors || fourth_level_Invalid" class="div-absoluto">
                                  <p class="help is-danger style" *ngIf="fourth_level_Field!.hasError('required')">
                                      Este campo es Obligatorio!
                                  </p>
                                  <p class="help is-danger style" *ngIf="fourth_level_Field!.hasError('minlength')">
                                    Mínimo 3 caracteres!
                                  </p>
                              </div>
                        </div>
                        
                      </div>
                      <div class="field column">
                        <label class="label text-white">Quinto Nivel</label>
                        <div class="control has-icons-right">
                          <input 
                                formControlName="fifth_level" 
                                class="input" 
                                type="text" 
                                placeholder="Text" 
                                value=""
                                [ngClass]="{'is-invalid': submitted && f.fifth_level.errors}"
                                [class.is-danger]="fifth_level_Invalid"
                                [class.is-success]="fifth_level_Valid">
                                  <span *ngIf="fifth_level_Invalid" class="icon is-small is-right">
                                    <i class="fas fa-times"></i>
                                  </span>
                                  <span *ngIf="fifth_level_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                  </span>
                              <div *ngIf="submitted && f.fifth_level.errors || fifth_level_Invalid" class="div-absoluto">
                                  <p class="help is-danger style" *ngIf="fifth_level_Field!.hasError('required')">
                                      Este campo es Obligatorio!
                                  </p>
                                  <p class="help is-danger style" *ngIf="fifth_level_Field!.hasError('minlength')">
                                    Mínimo 3 caracteres!
                                  </p>
                              </div>
                        </div>
                        
                      </div>
                      <div class="field column">
                        <label class="label text-white">2da Categoría</label>
                        <div class="control has-icons-right">
                          <input 
                                  formControlName="second_category" 
                                  class="input" 
                                  type="text" 
                                  placeholder="Text" 
                                  value=""
                                  [ngClass]="{'is-invalid': submitted && f.second_category.errors}"
                                  [class.is-danger]="second_category_Invalid"
                                  [class.is-success]="second_category_Valid">
                                    <span *ngIf="second_category_Invalid" class="icon is-small is-right">
                                      <i class="fas fa-times"></i>
                                    </span>
                                    <span *ngIf="second_category_Valid" class="icon is-small is-right">
                                      <i class="fas fa-check"></i>
                                    </span>
                                <div *ngIf="submitted && f.second_category.errors || second_category_Invalid" class="div-absoluto">
                                    <p class="help is-danger style" *ngIf="second_category_Field!.hasError('required')">
                                        Este campo es Obligatorio!
                                    </p>
                                    <p class="help is-danger style" *ngIf="second_category_Field!.hasError('minlength')">
                                      Mínimo 3 caracteres!
                                    </p>
                                </div>
                        </div>
                        
                      </div>
                      <!-- <div class="field column">
                        <label class="label text-white">Linea</label>
                        <div class="control has-icons-right">
                          <input 
                                formControlName="line" 
                                class="input" 
                                type="text" 
                                placeholder="Text" 
                                value=""
                                [ngClass]="{'is-invalid': submitted && f.line.errors}"
                                [class.is-danger]="line_Invalid"
                                [class.is-success]="line_Valid">
                                  <span *ngIf="line_Invalid" class="icon is-small is-right">
                                    <i class="fas fa-times"></i>
                                  </span>
                                  <span *ngIf="line_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                  </span>
                              <div *ngIf="submitted && f.line.errors || line_Invalid" class="div-absoluto">
                                  <p class="help is-danger style" *ngIf="line_Field!.hasError('required')">
                                      Este campo es Obligatorio!
                                  </p>
                                  <p class="help is-danger style" *ngIf="line_Field!.hasError('minlength')">
                                    Mínimo 3 caracteres!
                                  </p>
                              </div>
                        </div>
                        
                      </div> -->
                </div>
                <div class="columns is-2 is-multiline" >
                                  
                    <!-- <div class="field column">
                      <label class="label text-white">Sub-Linea</label>
                      <div class="control has-icons-right">
                        <input 
                                formControlName="sub_line" 
                                class="input" 
                                type="text" 
                                placeholder="Escribir" 
                                value=""
                                [ngClass]="{'is-invalid': submitted && f.sub_line.errors}"
                                [class.is-danger]="sub_line_Invalid"
                                [class.is-success]="sub_line_Valid">
                                  <span *ngIf="sub_line_Invalid" class="icon is-small is-right">
                                    <i class="fas fa-times"></i>
                                  </span>
                                  <span *ngIf="sub_line_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                  </span>
                              <div *ngIf="submitted && f.sub_line.errors || sub_line_Invalid" class="div-absoluto">
                                  <p class="help is-danger style" *ngIf="sub_line_Field!.hasError('required')">
                                      Este campo es Obligatorio!
                                  </p>
                                  <p class="help is-danger style" *ngIf="sub_line_Field!.hasError('minlength')">
                                    Mínimo 3 caracteres!
                                  </p>
                              </div>
                      </div>
                    </div> -->
                    
                    <!-- <div class="field column">
                      <label class="label text-white">Grupo</label>
                      <div class="control has-icons-right">
                        <input 
                                formControlName="groups" 
                                class="input" 
                                type="text" 
                                placeholder="Text" 
                                value=""
                                [ngClass]="{'is-invalid': submitted && f.groups.errors}"
                                [class.is-danger]="group_Invalid"
                                [class.is-success]="group_Valid">
                                  <span *ngIf="group_Invalid" class="icon is-small is-right">
                                    <i class="fas fa-times"></i>
                                  </span>
                                  <span *ngIf="group_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                  </span>
                              <div *ngIf="submitted && f.groups.errors || group_Invalid" class="div-absoluto">
                                  <p class="help is-danger style" *ngIf="group_Field!.hasError('required')">
                                      Este campo es Obligatorio!
                                  </p>
                                  <p class="help is-danger style" *ngIf="group_Field!.hasError('minlength')">
                                    Mínimo 3 caracteres!
                                  </p>
                              </div>
                      </div>
                      
                    </div> -->
                    
                    <div class="field column">
                      <label class="label text-white">Familia</label>
                      <div class="control has-icons-right">
                        <input 
                                formControlName="family" 
                                class="input" 
                                type="text" 
                                placeholder="Text" 
                                value=""
                                [ngClass]="{'is-invalid': submitted && f.family.errors}"
                                [class.is-danger]="family_Invalid"
                                [class.is-success]="family_Valid">
                                  <span *ngIf="family_Invalid" class="icon is-small is-right">
                                    <i class="fas fa-times"></i>
                                  </span>
                                  <span *ngIf="family_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                  </span>
                              <div *ngIf="submitted && f.family.errors || family_Invalid" class="div-absoluto">
                                  <p class="help is-danger style" *ngIf="family_Field!.hasError('required')">
                                      Este campo es Obligatorio!
                                  </p>
                                  <p class="help is-danger style" *ngIf="family_Field!.hasError('minlength')">
                                    Mínimo 3 caracteres!
                                  </p>
                              </div>
                      </div>
                      
                    </div>
                    <div class="field column">
                      <label class="label text-white">Sub-Familia</label>
                      <div class="control has-icons-right">
                        <input 
                                formControlName="sub_family" 
                                class="input" 
                                type="text" 
                                placeholder="Text" 
                                value=""
                                [ngClass]="{'is-invalid': submitted && f.sub_family.errors}"
                                [class.is-danger]="sub_family_Invalid"
                                [class.is-success]="sub_family_Valid">
                                  <span *ngIf="sub_family_Invalid" class="icon is-small is-right">
                                    <i class="fas fa-times"></i>
                                  </span>
                                  <span *ngIf="sub_family_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                  </span>
                              <div *ngIf="submitted && f.sub_family.errors || sub_family_Invalid" class="div-absoluto">
                                  <p class="help is-danger style" *ngIf="sub_family_Field!.hasError('required')">
                                      Este campo es Obligatorio!
                                  </p>
                                  <p class="help is-danger style" *ngIf="sub_family_Field!.hasError('minlength')">
                                    Mínimo 3 caracteres!
                                  </p>
                              </div>
                      </div>
                      
                    </div>
                    <div class="field column">
                      <label class="label text-white">Código del Proveedor</label>
                      <div class="control has-icons-right">
                        <input 
                                formControlName="supplier_code" 
                                class="input" 
                                type="text" 
                                placeholder="Código" 
                                value=""
                                [ngClass]="{'is-invalid': submitted && f.supplier_code.errors}"
                                [class.is-danger]="supplier_code_Invalid"
                                [class.is-success]="supplier_code_Valid">
                                <span *ngIf="supplier_code_Invalid" class="icon is-small is-right">
                                    <i class="fas fa-times"></i>
                                </span>
                                <span *ngIf="supplier_code_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            <div *ngIf="submitted && f.supplier_code.errors || supplier_code_Invalid" class="div-absoluto">
                                <p class="help is-danger style" *ngIf="supplier_code_Field!.hasError('required')">
                                    Este campo es Obligatorio!
                                </p>
                                <p class="help is-danger style" *ngIf="supplier_code_Field!.hasError('max')">
                                  Máximo 20 caracteres!
                                </p>
                                <p class="help is-danger style" *ngIf="supplier_code_Field!.hasError('pattern')">
                                    Solo Escribir Números!
                                </p>
                                
                            </div>
                      </div>
                    </div>
                    
                    <div class="field column">
                      <label class="label text-white">Nombre Proveedor</label>
                      <div class="control has-icons-right">
                        <input 
                                formControlName="supllier_name" 
                                class="input" 
                                type="text" 
                                placeholder="Nombre" 
                                value=""
                                [ngClass]="{'is-invalid': submitted && f.supllier_name.errors}"
                                [class.is-danger]="supplier_name_Invalid"
                                [class.is-success]="supplier_name_Valid">
                                  <span *ngIf="supplier_name_Invalid" class="icon is-small is-right">
                                    <i class="fas fa-times"></i>
                                  </span>
                                  <span *ngIf="supplier_name_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                  </span>
                              <div *ngIf="submitted && f.supllier_name.errors || supplier_name_Invalid" class="div-absoluto">
                                  <p class="help is-danger style" *ngIf="supplier_name_Field!.hasError('required')">
                                      Este campo es Obligatorio!
                                  </p>
                                  <p class="help is-danger style" *ngIf="supplier_name_Field!.hasError('minlength')">
                                    Mínimo 3 caracteres!
                                  </p>
                              </div>
                      </div>
                      
                    </div>
                    <div class="field column">
                      <label class="label text-white">Tiempo de Crédito</label>
                      <div class="control has-icons-right">
                        <input 
                            formControlName="credit_time" 
                            class="input" 
                            type="text" 
                            placeholder="texto" 
                            value=""
                            [class.is-success]="time_per_credit_Valid">
                                  <!-- <span *ngIf="time_per_credit_Invalid" class="icon is-small is-right">
                                    <i class="fas fa-times"></i>
                                  </span> -->
                                  <span *ngIf="time_per_credit_Valid" class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                  </span>
                              <div *ngIf="time_per_credit_Valid" class="div-absoluto">
                                  <p class="help is-danger style2">
                                      Este campo no es Obligatorio!
                                  </p>
                              </div>
                      </div>
                      
                    </div>
                </div>
                <div class="columns-is-2 is-multiline">
                  <div class="column">
                    <div class="buttons has-addons is-centered">
                        <button type="submit" class="button is-link" style="width: 200px;">Guardar</button>
                    </div>
                </div>
                </div>
            </form>
            <!-- <div class="form_product_information is-hidden">
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">Descripcion</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Presentación/envase</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Forma Farma.</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Medida</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Unidad</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
              </div>
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">Condición de Venta</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Linea</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Sub-Linea</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Grupo</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Código Barra EAN13</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
              </div>
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">Código Barra EAN14</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Código IMS</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Código Factura</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Registro Sanitario</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Numero de Lote</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
              </div>
              <div class="columns" style="margin-bottom: 40px;">
                <div class="field column">
                    <label class="label text-white">Area de Producto</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Registro Senasag</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Estado</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Rango de Vigencia</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Rango de Vigencia</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
              </div>
            </div>
            <div class="form_product_information2 is-hidden">
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">Cadena de Frío</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Humedad</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Fotosensible</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Temp. Almacenaje</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Pos. Almacenaje</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
              </div>
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">Inestable</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Apilable</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Precio de Compra</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Precio Sugerido</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Descuento Comercial</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
              </div>
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">Descuento Especial</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Nombre Proveedor</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">País de Fabricación</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Unidad de Compra</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Unidad de Consumo</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
              </div>
              <div class="columns" style="margin-bottom: 40px;">
                <div class="field column">
                    <label class="label text-white">Embol(ml)</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Factor ICE</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Unidad por Envase</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Cant. Min. de Compra</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Unidad por Blister</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
              </div>
            </div>
            <div class="form_product_information3 is-hidden">
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">Relación Blister/Caja</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Unidad por Empaque</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Ancho/Presentación</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Fondo/Presentacion</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Alto/Presentación</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
              </div>
              <div class="columns" >
                <div class="field column">
                    <label class="label text-white">Peso/Presentación</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Ancho/Paquete</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Fondo/Paquete</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Alto/Paquete</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Peso/Paquete</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
              </div>
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">PrincipioAct/Molecula</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Concentración</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Presentación</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Acción Terapeutica</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Aplicaciones</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
              </div>
              <div class="columns" style="margin-bottom: 40px;">
                <div class="field column">
                    <label class="label text-white">Observaciones</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Tipo de Consumo</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Código" 
                              value="">
                    </div>
                </div>
              </div>
            </div> -->
            <div class="form_product_information is-hidden" *ngFor="let item of product">
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">Descripcion</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.description}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Presentación/envase</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.container}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Forma Farma.</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.pharmaceutical_form}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Medida</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.measure}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Unidad</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="unidad" 
                              value="{{item.unit}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">Condición de Venta</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.precondition_for_sale}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Linea</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Línea" 
                              value="{{item.line}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Sub-Linea</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.sub_line}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Grupo</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.group}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Código Barra EAN13</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.bar_code_ean_13}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">Código Barra EAN14</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.bar_code_ean_14}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Código IMS</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.code_ims}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Código Factura</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.code_supplier_invoice}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Registro Sanitario</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.health_register_number}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Numero de Lote</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.lot_number}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns" style="margin-bottom: 40px;">
                <div class="field column">
                    <label class="label text-white">Area de Producto</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.product_area}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Registro Senasag</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.senasag_registration_number}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Estado</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.status}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Rango de Vigencia</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.validity_initial}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Rango de Vigencia</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.validity_final}}" disabled>
                    </div>
                </div>
              </div>
            </div>
            <div class="form_product_information2 is-hidden"*ngFor="let item of product">
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">Cadena de Frío</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.cold_chain}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Humedad</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.humidity}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Fotosensible</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.photosensitive}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Temp. Almacenaje</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.storage_temperature}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Pos. Almacenaje</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.storage_position}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">Inestable</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.stackable}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Apilable</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.unstable}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Precio de Compra</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.purchase_price}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Precio Sugerido</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.suggested_price}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Descuento Comercial</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.commercial_discount}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">Descuento Especial</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.special_discount}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Nombre Proveedor</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.supplier_name}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">País de Fabricación</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.fabrication_country}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Unidad de Compra</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.purchase_unit}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Unidad de Consumo</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.consumption_unit}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns" style="margin-bottom: 40px;">
                <div class="field column">
                    <label class="label text-white">Embol(ml)</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.embol}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Factor ICE</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.factor_ice}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Unidad por Envase</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.unit_per_container}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Cant. Min. de Compra</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.minimum_amount_of_purchase}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Unidad por Blister</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.unit_per_blister}}" disabled>
                    </div>
                </div>
              </div>
            </div>
            <div class="form_product_information3 is-hidden" *ngFor="let item of product">
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">Relación Blister/Caja</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.relation_blister_box}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Unidad por Empaque</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.unit_per_package}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Ancho/Presentación</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.presentation_unit_width}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Fondo/Presentacion</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.presentation_unit_background}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Alto/Presentación</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.presentation_unit_height}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">Peso/Presentación</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.presentation_unit_weight}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Ancho/Paquete</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.package_width}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Fondo/Paquete</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.package_background}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Alto/Paquete</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.package_height}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Peso/Paquete</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.package_weight}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns">
                <div class="field column">
                    <label class="label text-white">PrincipioAct/Molecula</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.active_ingredient}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Concentración</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.concentration}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Presentación</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.presentation}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Acción Terapeutica</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.therapeutic_action}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Aplicaciones</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.aplications}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns is-multiline" style="margin-bottom: 30px;">
                <div class="field column">
                    <label class="label text-white">Observaciones</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.observations}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-white">Tipo de Consumo</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="">
                    </div>
                </div>
              </div>
            </div>
        </div>
        
    </div>
</div>
