.btn{
    width: 100%;
}
form input.input {
    width: 100%;
    padding: 8px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    background-color: #fff;
    outline: none;
    
    /* background: transparent; */
}
form select.form-select {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    background-color: #fff;
    outline: none;
    
/*  background: transparent;  */
}
pagination-controls /deep/ .ngx-pagination {
    padding-left: 0px !important;
}
pagination-controls /deep/ .ngx-pagination .current,
pagination-controls /deep/ .btn-info {
    background: #17a2b8 !important;
    border: transparent !important;
    border-radius: 5px !important;
    padding-top: 0;
}
pagination-controls /deep/ .ngx-pagination .current:hover {
    background: #17a2b8 !important;
    border: transparent !important;
}
pagination-controls /deep/ .pagination-controls a, .ngx-pagination button {
    
    display: block;
    /* padding: 0.1875rem 0.625rem; */
    border-radius: 0;
}
pagination-controls /deep/ .ngx-pagination a:hover, .ngx-pagination button:hover {
    background: transparent!important;
}
pagination-controls /deep/ .pagination-controls button:hover {
    background: #ffa500;
}
pagination-controls /deep/ .ngx-pagination li {
    /* margin-right: 0.0625rem; */
    border-radius: 5px;
    height: 30px;
    padding-top: 0;
    
}
pagination-controls /deep/ .pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis {
    margin-bottom: 0;
    margin-top: 3px;
}
pagination-controls /deep/ .pagination-next, .pagination-link, .pagination-ellipsis {
    margin-bottom: 0;
    margin-top: 3px;
}
pagination-controls /deep/ .ngx-pagination .disabled {
    /* padding: 0.1875rem 0.625rem; */
    /* color: #cacaca; */
    cursor: default;
}
thead{
    background-color: rgb(75, 201, 180);
}

.button-style{
    background-color: rgb(89, 105, 105)!important;
    color: #1b1010;
}
