<!-- Navbar -->

<nav class="main-header navbar navbar-expand navbar-info navbar-dark bg-info ">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <div class="">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars text-white"></i></a>
        </li>
      </div>
      <div>
        <li class="nav-item">
          <a href="../../index3.html" class="nav-link text-white">Home</a>
        </li>
      </div>
      <div>
        <li class="nav-item">
          <a href="/dashboard" class="nav-link text-white">Dashboard</a>
        </li>
      </div>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <!-- <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li> -->
    </ul>
  </nav>
  <!-- /.navbar -->
