.ngselect{
    margin-top: 5px;
}
.ng-select.custom ::ng-deep .ng-select-container{            
    min-height: 40px
}
.container2 {
    /* width: 360px;
    height: 400px; */
    width: 600px;
    height: 400px;
    margin: 8% auto;
    background: rgb(151, 199, 201);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.container-div {
    min-height: 100px;
    max-height: 1500px;
    background: rgb(151, 199, 201);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

h3{
   text-align: center;
   margin-bottom: 10px;
   position: relative;
   color: rgb(15, 40, 41); 
}
.container form {
  /*  width: 100%;
    position: absolute;
    top: 60px;
    left: 50px;
    transition: 0.5s;*/
    position: relative;
    margin: 10px 10px 10px 10px;
    /* left: 50px; */
    transition: 0.5s;
    border-radius: inherit;
    padding: 20px;
    background-color: cadetblue;
    /* width: 97%; 
    margin: 0 auto;*/
   
    
}
form input.input {
    width: 100%;
    padding: 8px 5px;
    margin: 5px 0;
    /* border: 0; */
    border-bottom: 1px solid #999;
    background-color: #fff;
    outline: none;
    
    /* background: transparent; */
}
form select.form-select {
    width: 100%;
    padding: 8px 5px;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    background-color: #fff;
    outline: none;
    font-size: medium;
/*  background: transparent;  */
}
.style4{
    background-color: #fff;
    width: 100%;
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #999;
    background-color: #fff;
    outline: none;
    font-size: medium;
}
.form-check2{
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: .125rem;
}
.form-check-input{
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;

}
.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
::placeholder {
    color: #777;
    /* text-align: center; */
    right: 10px;
}
.btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
form button {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #1050ff, #06ffff);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
}
/* #form2 {
    left: 450px;
}
#form3 {
    left: 450px;
} */
.hidden{
    display: none;
}


.step-row {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    right: 0;
    display: flex;
    align-items: center; 
    text-align: center;
    box-shadow: 0 -1px 5px -1px #000;
    background-color: rgba(29, 140, 148, 0.596);
    position: relative;
    justify-content: space-between;
}
.step-col {
    width: 120px;
    text-align: center;
    color: #333;
    position: relative;
}
#progress {
    position: absolute;
    height: 100%;
    width: 14.3%;
    background: linear-gradient(to right, #1050ff, #06ffff);
}
#progress2 {
    position: absolute;
    height: 100%;
    width: 28.6%;
    background: linear-gradient(to right, #1050ff, #06ffff);
}
#progress3 {
    position: absolute;
    height: 100%;
    width: 42.6%;
    background: linear-gradient(to right, #1050ff, #06ffff);
}
#progress4 {
    position: absolute;
    height: 100%;
    width: 57.2%;
    background: linear-gradient(to right, #1050ff, #06ffff);
}
#progress5 {
    position: absolute;
    height: 100%;
    width: 71.5%;
    background: linear-gradient(to right, #1050ff, #06ffff);
}
#progress6 {
    position: absolute;
    height: 100%;
    width: 85.8%;
    background: linear-gradient(to right, #1050ff, #06ffff);
}
#progress7 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #1050ff, #06ffff);
}
#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #06ffff;
}
#progress2::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #06ffff;
}
#progress3::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #06ffff;
}
#progress4::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #06ffff;
}
#progress5::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #06ffff;
}
#progress6::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #06ffff;
}
#progress7::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #06ffff;
}
.style {
    position: relative;
    top: 100%;
    z-index: 5;
    max-width: 100%;
    padding: .25rem .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgb(245 46 65 / 83%);
    border-radius: .25rem;
}
.style2{
    position: relative;
    top: 100%;
    z-index: 5;
    max-width: 100%;
    padding: .25rem .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgb(50, 163, 50);
    border-radius: .25rem;
}
.style3{
    position: relative;
}
.step-row2{
    /* width: 350px; */
    width: 100%;
    margin:0px auto;
}
.div-absoluto{
    position: absolute;
}
/* input[type="number"]
{
-webkit-appearance: textfield !important;
margin: 0;
-moz-appearance:textfield !important;
} */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

input[type=number] {
-moz-appearance: textfield;
}
input[type=number]:hover,
input[type="number"]:focus {
-moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}