

<div class="container">

  <div class="row">
      <div class="col-12">

        <div class="container-div">
          <form [formGroup]="form" name="form" (ngSubmit)="submit()" class="form" novalidate>
        
            <div class="field" *ngIf="step == 1">
              <div class="col-md-8 offset-md-2 col-sm-12">
                <div class="row">
                  <div class="col-12">
                    <div class="step-row mb-4">
    
                    <div  class="col-sm-12" id="progress" name="progress"></div>
                      <div class="step-col" >Paso 1</div>
                      <div class="step-col">Paso 2</div>
                      <div class="step-col">Paso 3</div>
                      <div class="step-col">Paso 4</div>
                      <div class="step-col">Paso 5</div>
                      <div class="step-col">Paso 6</div>
                      <div class="step-col">Paso 7</div>
                    </div>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-8 offset-md-2 col-sm-12">
                  <h3>Datos Del Producto</h3>
  
                  <div class="row">

                    <div class="col-sm-12 col-md-4">
  
                      <div class="step-row2">
                          <div class="control has-icons-right">
                            <input 
                                class="input"
                                type="text" 
                                placeholder="descripcion del producto" 
                                formControlName="description"
                                [ngClass]="{'is-invalid': submitted && f.description.errors}"
                                [class.is-danger]="descriptionInvalid"
                                [class.is-success]="descriptionValid">
                                <span *ngIf="descriptionInvalid" class="icon is-small is-right">
                                  <i class="fas fa-times"></i>
                                </span>
                                <span *ngIf="descriptionValid" class="icon is-small is-right">
                                  <i class="fas fa-check"></i>
                                </span>
                            <div *ngIf="submitted && f.description.errors || descriptionInvalid" class="div-absoluto">
                                <p class="help is-danger style" *ngIf="descriptionField!.hasError('required')">
                                    Este campo es Obligatorio!
                                </p>
                                <p class="help is-danger style" *ngIf="descriptionField!.hasError('maxlength')">
                                  Máximo 25 caracteres!
                                </p>
                            </div>
                         </div>
                         <div class="control">
                           <ng-select  
                                  placeholder="Envase"
                                  class="custom mt-1"
                                  [multiple]="false"
                                  formControlName="container"
                                  [ngClass]="{'is-invalid': submitted && f.container.errors}">
                            <ng-option value="">Presentación/Envase</ng-option>
                            <ng-option *ngFor="let list_container of container" [value]="list_container.id">{{list_container.container_description}}</ng-option>
                          </ng-select>
                          <div *ngIf="submitted && f.container.errors" class="div-absoluto">
                            <p class="help is-danger style" *ngIf="container_Field!.hasError('required')">
                                Necesita Seleccionar 1 Opción!
                            </p>
                          </div>
                         </div>
                         <div class="control">
                           <ng-select 
                                  placeholder="Forma Farmaceutica"
                                  class="custom mt-2"
                                  [multiple]="false"
                                  formControlName="pharmaceutical_form"
                                  [ngClass]="{'is-invalid': submitted && f.pharmaceutical_form.errors}">
                            <ng-option value="">Seleccionar Forma</ng-option>
                            <ng-option *ngFor="let pharma of pharmaceutical" [value]="pharma.id">{{pharma.pharmaceutical_description}}</ng-option>
                          </ng-select>
                         </div>
                         <div *ngIf="submitted && f.pharmaceutical_form.errors" class="div-absoluto">
                          <p class="help is-danger style" *ngIf="pharmaceutical_form_Field!.hasError('required')">
                              Necesita Seleccionar 1 Opción!
                          </p>
                        </div>
                        <div class="control has-icons-right">
                          <input 
                              class="input mt-2"
                              type="text" 
                              placeholder="Medida" 
                              formControlName="measure"
                              [ngClass]="{'is-invalid': submitted && f.measure.errors}"
                              [class.is-danger]="measure_Invalid"
                              [class.is-success]="measure_Valid">
                              <span *ngIf="measure_Invalid" class="icon is-small is-right">
                                <i class="fas fa-times"></i>
                              </span>
                              <span *ngIf="measure_Valid" class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                              </span>
                          <div *ngIf="submitted && f.measure.errors || measure_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="measure_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="measure_Field!.hasError('maxlength')">
                                Máximo 23 caracteres!
                              </p>
                              <p class="help is-danger style" *ngIf="measure_Field!.hasError('pattern')">
                                Solo escribir Números!
                              </p>
                          </div>
                       </div>
                      </div>
                    </div>
    
                    <div class="col-sm-12 col-md-4">
                      <div class="step-row2">
                        <div class="ngselect">
                          <ng-select 
                                  placeholder="Seleccionar Unidad"
                                  class="custom"
                                  [multiple]="false"
                                  formControlName="unit"
                                  [ngClass]="{'is-invalid': submitted && f.unit.errors}">
                            <ng-option value="">Seleccionar Unidad</ng-option>
                            <ng-option *ngFor="let unit of units" [value]="unit.id">{{unit.unit_description}}</ng-option>
                          </ng-select>
                          <div *ngIf="submitted && f.unit.errors" class="div-absoluto">
                            <p class="help is-danger style" *ngIf="unit_Field!.hasError('required')">
                                Necesita Seleccionar 1 Opción!
                            </p>
                          </div> 
                         </div> 
                         <div class="control">
                           <ng-select 
                                  placeholder="Condición de Venta"
                                  class="custom mt-2"
                                  [multiple]="false"
                                  formControlName="precondition_for_sale"
                                  [ngClass]="{'is-invalid': submitted && f.precondition_for_sale.errors}">
                            <ng-option value="">Condición de Venta</ng-option>
                            <ng-option *ngFor="let precondition of preconditions" [value]="precondition.id">{{precondition.precondition_description}}</ng-option>
                          </ng-select>
                         </div>
                         <div *ngIf="submitted && f.precondition_for_sale.errors" class="div-absoluto">
                          <p class="help is-danger style" *ngIf="precondition_description_Field!.hasError('required')">
                              Necesita Seleccionar 1 Opción!
                          </p>
                        </div>
                         <div class="control">
                           <ng-select 
                                  placeholder="Tipo de Consumo"
                                  class="custom mt-2"
                                  [multiple]="false"
                                  formControlName="consumption_description"
                                  [ngClass]="{'is-invalid': submitted && f.consumption_description.errors}">
                            <ng-option value="">Tipo de Consumo</ng-option>
                            <ng-option *ngFor="let type of types" [value]="type.id">{{type.consumption_description}}</ng-option>
                          </ng-select>
                         </div>
                         <div *ngIf="submitted && f.consumption_description.errors" class="div-absoluto">
                          <p class="help is-danger style" *ngIf="consumption_description_Field!.hasError('required')">
                              Necesita Seleccionar 1 Opción!
                          </p>
                        </div>
                        <div class="control has-icons-right">
                              <!-- <input 
                              class="input mt-2"
                              type="text" 
                              placeholder="Linea" 
                              formControlName="line"
                              [ngClass]="{'is-invalid': submitted && f.line.errors}"
                              [class.is-danger]="line_Invalid"
                              [class.is-success]="line_Valid">
                              <span *ngIf="line_Invalid" class="icon is-small is-right">
                                <i class="fas fa-times"></i>
                              </span>
                              <span *ngIf="line_Valid" class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                              </span> -->
                              <ng-select 
                                  placeholder="Línea"
                                  class="custom mt-2"
                                  [multiple]="false"
                                  formControlName="line_id"
                                  [ngClass]="{'is-invalid': submitted && f.line_id.errors}">
                                <ng-option value="">Líneas</ng-option>
                                <ng-option *ngFor="let info of information" [value]="info.codigolinea">{{info.linea}}</ng-option>
                              </ng-select>
                              <div *ngIf="submitted && f.line_id.errors || line_Invalid" class="div-absoluto">
                                <p class="help is-danger style" *ngIf="line_Field!.hasError('required')">
                                    Seleccione una Línea!
                                </p>
                            </div>
                       </div>
                      </div>
    
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <div class="step-row2">
                        <div class="ngselect">
                          <!-- <input 
                              class="input"
                              type="text" 
                              placeholder="sub-linea" 
                              formControlName="sub_line"
                              [ngClass]="{'is-invalid': submitted && f.sub_line.errors}"
                              [class.is-danger]="sub_line_Invalid"
                              [class.is-success]="sub_line_Valid">
                              <span *ngIf="sub_line_Invalid" class="icon is-small is-right">
                                <i class="fas fa-times"></i>
                              </span>
                              <span *ngIf="sub_line_Valid" class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                              </span> -->
                              <ng-select 
                                  placeholder="Sub-Líneas"
                                  class="custom"
                                  [multiple]="false"
                                  formControlName="sub_line_id"
                                  [ngClass]="{'is-invalid': submitted && f.sub_line_id.errors}">
                                <ng-option value="">Sub-Líneas</ng-option>
                                <ng-option *ngFor="let info of information" [value]="info.codigosublinea">{{info.sublinea}}</ng-option>
                              </ng-select>
                          <div *ngIf="submitted && f.sub_line_id.errors || sub_line_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="sub_line_Field!.hasError('required')">
                                  Seleccionar una Sub-Línea!
                              </p>
                          </div>
                       </div>
                       <div class="control has-icons-right">
                       <!--  <input 
                            class="input"
                            type="text" 
                            placeholder="grupo" 
                            formControlName="group"
                            [ngClass]="{'is-invalid': submitted && f.group.errors}"
                            [class.is-danger]="group_Invalid"
                            [class.is-success]="group_Valid">
                            <span *ngIf="group_Invalid" class="icon is-small is-right">
                              <i class="fas fa-times"></i>
                            </span>
                            <span *ngIf="group_Valid" class="icon is-small is-right">
                              <i class="fas fa-check"></i>
                            </span> -->
                            <ng-select 
                                  placeholder="Grupos"
                                  class="custom mt-2"
                                  [multiple]="false"
                                  formControlName="group_id"
                                  [ngClass]="{'is-invalid': submitted && f.group_id.errors}">
                                <ng-option value="">Grupos</ng-option>
                                <ng-option *ngFor="let info of information" [value]="info.codigogrupo">{{info.grupo}}</ng-option>
                              </ng-select>
                        <div *ngIf="submitted && f.group_id.errors || group_Invalid" class="div-absoluto">
                            <p class="help is-danger style" *ngIf="group_Field!.invalid && group_Field!.hasError('required')">
                                Seleccion un Grupo!
                            </p>
                        </div>
                     </div>
                     <div class="control has-icons-right">
                      <input 
                      class="input mt-2"
                      type="text" 
                      placeholder="Código de Barra EAN-13" 
                      formControlName="bar_code_ean_13"
                      [ngClass]="{'is-invalid': submitted && f.bar_code_ean_13.errors}"
                      [class.is-danger]="bar_code_ean_13_Invalid"
                      [class.is-success]="bar_code_ean_13_Valid">
                      <span *ngIf="bar_code_ean_13_Invalid" class="icon is-small is-right">
                        <i class="fas fa-times"></i>
                      </span>
                      <span *ngIf="bar_code_ean_13_Valid" class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                      <div *ngIf="submitted && f.bar_code_ean_13.errors || bar_code_ean_13_Invalid" class="div-absoluto">
                          <p class="help is-danger style" *ngIf="bar_code_ean_13_Field!.invalid && bar_code_ean_13_Field!.hasError('required')">
                              Este campo es Obligatorio!
                          </p>
                          <p class="help is-danger style" *ngIf="bar_code_ean_13_Field!.invalid && bar_code_ean_13_Field!.hasError('maxlength')">
                            Máximo 25 caracteres!
                          </p>
                      </div>
                      </div>
                        <div class="control has-icons-right">
                          <input 
                          class="input mt-1"
                          type="text" 
                          placeholder="Código de Barra EAN-14" 
                          formControlName="bar_code_ean_14"
                          [ngClass]="{'is-invalid': submitted && f.bar_code_ean_14.errors}"
                          [class.is-danger]="bar_code_ean_14_Invalid"
                          [class.is-success]="bar_code_ean_14_Valid">
                          <span *ngIf="bar_code_ean_14_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="bar_code_ean_14_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.bar_code_ean_14.errors || bar_code_ean_14_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="bar_code_ean_14_Field!.invalid && bar_code_ean_14_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="bar_code_ean_14_Field!.invalid && bar_code_ean_14_Field!.hasError('maxlength')">
                                Máximo 25 caracteres!
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>
    
                    <div class="col-md-12">
                      <div class="btn-box">
                        <button type="button" id="next1" (click)="next_step()" name="next1" class="btnnext mt-2">Siguiente</button>
                      </div>
                    </div>


                  </div>
                  
                </div>
              </div>
            </div>
            <div class="field" *ngIf="step == 2">
              <div class="col-md-8 offset-md-2 col-sm-12">
                <div class="row">
                  <div class="col-12">
                    <div class="step-row mb-4">
    
                      <div  class="col-sm-12" id="progress2" name="progress"></div>
                        <div class="step-col" >Paso 1</div>
                        <div class="step-col">Paso 2</div>
                        <div class="step-col">Paso 3</div>
                        <div class="step-col">Paso 4</div>
                        <div class="step-col">Paso 5</div>
                        <div class="step-col">Paso 6</div>
                        <div class="step-col">Paso 7</div>
                      </div>
                    </div>
                  </div>
               </div>
               <div class="row">
                <div class="col-md-8 offset-md-2 col-sm-12">
                  <h3>Datos Del Producto</h3>
  
                  <div class="row">

                    <div class="col-sm-12 col-md-4">
  
                      <div class="step-row2">
                              
                              <div class="control has-icons-right">
                                <input 
                                class="input"
                                type="text" 
                                placeholder="codigo ims" 
                                formControlName="code_ims"
                                [ngClass]="{'is-invalid': submitted && f.code_ims.errors}"
                                [class.is-danger]="code_ims_Invalid"
                                [class.is-success]="code_ims_Valid">
                                <span *ngIf="code_ims_Invalid" class="icon is-small is-right">
                                  <i class="fas fa-times"></i>
                                </span>
                                <span *ngIf="code_ims_Valid" class="icon is-small is-right">
                                  <i class="fas fa-check"></i>
                                </span>
                                <div *ngIf="submitted && f.code_ims.errors || code_ims_Invalid" class="div-absoluto">
                                    <p class="help is-danger style" *ngIf="code_ims_Field!.invalid && code_ims_Field!.hasError('required')">
                                        Este campo es Obligatorio!
                                    </p>
                                    <p class="help is-danger style" *ngIf="code_ims_Field!.invalid && code_ims_Field!.hasError('maxlength')">
                                      Máximo 25 caracteres!
                                    </p>
                                </div>
                              </div>
                        <div class="control has-icons-right">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Codigo de Factura del Proveedor" 
                          formControlName="code_supplier_invoice"
                          [ngClass]="{'is-invalid': submitted && f.code_supplier_invoice.errors}"
                          [class.is-danger]="code_supplier_invoice_Invalid"
                          [class.is-success]="code_supplier_invoice_Valid">
                          <span *ngIf="code_supplier_invoice_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="code_supplier_invoice_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.code_supplier_invoice.errors || code_supplier_invoice_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="code_supplier_invoice_Field!.invalid && code_supplier_invoice_Field!.hasError('required')">
                                Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="code_supplier_invoice_Field!.invalid && code_supplier_invoice_Field!.hasError('max')">
                                Máximo 25 caracteres!
                              </p>
                          </div>
                      </div>
                        <div class="control has-icons-right">
                          <input 
                            class="input"
                            type="text"
                            name="health_register_number"
                            placeholder="Numero de Registro Sanitario" 
                            formControlName="health_register_number"
                            [ngClass]="{'is-invalid': submitted && f.health_register_number.errors}"
                            [class.is-danger]="health_register_number_Invalid"
                            [class.is-success]="health_register_number_Valid" required>
                            <span *ngIf="health_register_number_Invalid" class="icon is-small is-right">
                              <i class="fas fa-times"></i>
                            </span>
                            <span *ngIf="health_register_number_Valid" class="icon is-small is-right">
                              <i class="fas fa-check"></i>
                            </span>
                            <div *ngIf="submitted && f.health_register_number.errors || health_register_number_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="health_register_number_Field!.invalid && health_register_number_Field!.hasError('required')">
                                Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="health_register_number_Field!.invalid && health_register_number_Field!.hasError('maxlength')">
                                Máximo 25 caracteres!
                              </p>
                            </div>
                          </div>
                      </div>
                        
    
                    </div>
    
                    <div class="col-sm-12 col-md-4">
                      <div class="step-row2">
                        <div class="control has-icons-right">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Numero de Lote" 
                          formControlName="lot_number"
                          [ngClass]="{'is-invalid': submitted && f.lot_number.errors}"
                          [class.is-danger]="lot_number_Invalid"
                          [class.is-success]="lot_number_Valid">
                          <span *ngIf="lot_number_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="lot_number_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.lot_number.errors || lot_number_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="lot_number_Field!.invalid && lot_number_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="lot_number_Field!.invalid && lot_number_Field!.hasError('min')">
                                Mínimo 2 caracteres!
                              </p>
                              <p class="help is-danger style" *ngIf="lot_number_Field!.invalid && lot_number_Field!.hasError('max')">
                                Máximo 25 caracteres!
                              </p>
                          </div>
                      </div>
                        <div class="control has-icons-right">
                            <input 
                                class="input"
                                type="text" 
                                placeholder="Area de Producto" 
                                formControlName="product_area"
                                [class.is-danger]="product_area_Invalid"
                                [class.is-success]="product_area_Valid"
                                [ngClass]="{'is-invalid': submitted && f.product_area.errors}">
                                <span *ngIf="product_area_Invalid" class="icon is-small is-right">
                                  <i class="fas fa-times"></i>
                                </span>
                                <span *ngIf="product_area_Valid" class="icon is-small is-right">
                                  <i class="fas fa-check"></i>
                                </span>
                            <div *ngIf="submitted && f.product_area.errors || product_area_Invalid" class="div-absoluto">
                                <p class="help is-danger style" *ngIf="product_area_Field!.invalid && product_area_Field!.hasError('required')">
                                    Este campo es Obligatorio!
                                </p>
                                <p class="help is-danger style" *ngIf="product_area_Field!.invalid && product_area_Field!.hasError('maxlength')">
                                  Máximo 25 caracteres!
                                </p>
                            </div>
                          </div>
                        <div class="control has-icons-right">
                          <input 
                          class="input"
                          type="text" 
                          placeholder="Numero de Registro Senasag" 
                          formControlName="senasag_registration_number"
                          [ngClass]="{'is-invalid': submitted && f.senasag_registration_number.errors}"
                          [class.is-danger]="senasag_registration_number_Invalid"
                          [class.is-success]="senasag_registration_number_Valid">
                          <span *ngIf="senasag_registration_number_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="senasag_registration_number_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.senasag_registration_number.errors || senasag_registration_number_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="senasag_registration_number_Field!.invalid && senasag_registration_number_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="senasag_registration_number_Field!.invalid && senasag_registration_number_Field!.hasError('maxlength')">
                                Máximo 25 caracteres!
                              </p>
                          </div>
                      </div>
                      </div>
    
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <!-- <div class="control has-icons-right ">
                        <input 
                        class="input"
                        type="text" 
                        placeholder="Estado" 
                        formControlName="status"
                        [ngClass]="{'is-invalid': submitted && f.status.errors}"
                        [class.is-danger]="status_Invalid"
                        [class.is-success]="status_Valid">
                        <span *ngIf="status_Invalid" class="icon is-small is-right">
                          <i class="fas fa-times"></i>
                        </span>
                        <span *ngIf="status_Valid" class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <div *ngIf="submitted && f.status.errors || status_Invalid" class="div-absoluto">
                            <p class="help is-danger style" *ngIf="status_Field!.invalid && status_Field!.hasError('required')">
                                Este campo es Obligatorio!
                            </p>
                            <p class="help is-danger style" *ngIf="status_Field!.invalid && status_Field!.hasError('maxlength')">
                              Máximo 25 caracteres!
                            </p>
                        </div>
                      </div> -->
                      <div class="control has-icons-right ">
                        <input 
                        class="input"
                        type="text" 
                        placeholder="Rango de Vigencia(Fecha Inicial)" 
                        formControlName="validity_initial"
                        [ngClass]="{'is-invalid': submitted && f.validity_initial.errors}"
                        [class.is-danger]="validity_initial_Invalid"
                        [class.is-success]="validity_initial_Valid">
                        <span *ngIf="validity_initial_Invalid" class="icon is-small is-right">
                          <i class="fas fa-times"></i>
                        </span>
                        <span *ngIf="validity_initial_Valid" class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <div *ngIf="submitted && f.validity_initial.errors || validity_initial_Invalid" class="div-absoluto">
                            <p class="help is-danger style" *ngIf="validity_initial_Field!.invalid && validity_initial_Field!.hasError('required')">
                                Este campo es Obligatorio!
                            </p>
                            <p class="help is-danger style" *ngIf="validity_initial_Field!.invalid && validity_initial_Field!.hasError('maxlength')">
                              Máximo 25 caracteres!
                            </p>
                        </div>
                      </div>
                      <div class="control has-icons-right ">
                        <input 
                        class="input"
                        type="text" 
                        placeholder="Rango de Vigencia(Fecha Final)" 
                        formControlName="validity_final"
                        [class.is-danger]="validity_final_Invalid"
                        [class.is-success]="validity_final_Valid"
                        [ngClass]="{'is-invalid': submitted && f.validity_final.errors}">
                        <span *ngIf="validity_final_Invalid" class="icon is-small is-right">
                          <i class="fas fa-times"></i>
                        </span>
                        <span *ngIf="validity_final_Valid" class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                        <div *ngIf="submitted && f.validity_final.errors || validity_final_Invalid" class="div-absoluto">
                            <p class="help is-danger style" *ngIf="validity_final_Field!.invalid && validity_final_Field!.hasError('required')">
                                Este campo es Obligatorio!
                            </p>
                            <p class="help is-danger style" *ngIf="validity_final_Field!.invalid && validity_final_Field!.hasError('maxlength')">
                              Máximo 25 caracteres!
                            </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="btn-box">
                        <button type="submit" id="back1"  name="back1" (click)="previous()"  class="btnnext mt-2">Atras</button>
                        <button type="button" id="next2" (click)="next_step2()"  name="next2" class="btnnext mt-2">Siguiente</button>
                      </div>
                    </div>


                  </div>
                  
                </div>
              </div>
            </div>
            <div class="field" *ngIf="step == 3">
              <div class="col-md-8 offset-md-2 col-sm-12">
                <div class="row">
                  <div class="col-12">
                    <div class="step-row mb-4">
    
                    <div  class="col-sm-12" id="progress3" name="progress"></div>
                      <div class="step-col" >Paso 1</div>
                      <div class="step-col">Paso 2</div>
                      <div class="step-col">Paso 3</div>
                      <div class="step-col">Paso 4</div>
                      <div class="step-col">Paso 5</div>
                      <div class="step-col">Paso 6</div>
                      <div class="step-col">Paso 7</div>
                    </div>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-8 offset-md-2 col-sm-12">
                  <h3>Datos del Producto</h3>
  
                  <div class="row">

                    <div class="col-sm-12 col-md-4">
  
                      <div class="step-row2">
                        <div class="control">
                          <select class="form-select form-select-sm mt-1" 
                                  formControlName="cold_chain" 
                                  aria-label=".form-select-sm example"
                                  [ngClass]="{'is-invalid': submitted && f.cold_chain.errors}">
                            <option value="">Cadena de Frío</option>
                            <option value=true>Si</option>
                            <option value=false>No</option>
                          </select>
                          <div *ngIf="submitted && f.cold_chain.errors" class="div-absoluto">
                            <p class="help is-danger style" *ngIf="cold_chain_Field!.hasError('required')">
                                Necesita Seleccionar 1 Opción!
                            </p>
                          </div>
                         </div>
                         <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="text" 
                          placeholder="Humedad" 
                          formControlName="humidity"
                          [class.is-danger]="humidity_Invalid"
                          [class.is-success]="humidity_Valid"
                          [ngClass]="{'is-invalid': submitted && f.humidity.errors}">
                          <span *ngIf="humidity_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="humidity_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.humidity.errors || humidity_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="humidity_Field!.invalid && humidity_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="humidity_Field!.invalid && humidity_Field!.hasError('maxlength')">
                                Máximo 25 caracteres!
                              </p>
                          </div>
                        </div>
                        <div class="control">
                          <select class="form-select form-select-sm mt-1" 
                                  formControlName="photosensitive" 
                                  aria-label=".form-select-sm example"
                                  [ngClass]="{'is-invalid': submitted && f.photosensitive.errors}">
                            <option value="">Fotosensible</option>
                            <option value="true">Si</option>
                            <option value="false">No</option>
                          </select>
                          <div *ngIf="submitted && f.photosensitive.errors" class="div-absoluto">
                            <p class="help is-danger style" *ngIf="photosensitive_Field!.hasError('required')">
                                Necesita Seleccionar 1 Opción!
                            </p>
                          </div>
                         </div>
                      </div>
                    </div>
                    
                    <div class="col-sm-12 col-md-4">
                      <div class="step-row2">
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="text" 
                          placeholder="Temperatura de Almacenaje(°C)" 
                          formControlName="storage_temperature"
                          [class.is-danger]="storage_temperature_Invalid"
                          [class.is-success]="storage_temperature_Valid"
                          [ngClass]="{'is-invalid': submitted && f.storage_temperature.errors}">
                          <span *ngIf="storage_temperature_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="storage_temperature_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.storage_temperature.errors || storage_temperature_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="storage_temperature_Field!.invalid && storage_temperature_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="storage_temperature_Field!.invalid && storage_temperature_Field!.hasError('maxlength')">
                                Máximo 25 caracteres!
                              </p>
                          </div>
                        </div>
                      </div>
                      <div class="control">
                        <select class="form-select form-select-sm mt-1" 
                                formControlName="storage_position" 
                                aria-label=".form-select-sm example"
                                [ngClass]="{'is-invalid': submitted && f.storage_position.errors}">
                          <option value="">Posición de Almacenaje</option>
                          <option value="1">Horizontal</option>
                          <option value="2">Vertical</option>
                        </select>
                        <div *ngIf="submitted && f.storage_position.errors" class="div-absoluto">
                          <p class="help is-danger style" *ngIf="storage_position_Field!.hasError('required')">
                              Necesita Seleccionar 1 Opción!
                          </p>
                        </div>
                       </div>

                    </div>
                    <div class="col-sm-12 col-md-4">
                      <div class="step-row2">
                        
                        <div class="control">
                          <select class="form-select form-select-sm mt-1" 
                                  formControlName="unstable" 
                                  aria-label=".form-select-sm example"
                                  [ngClass]="{'is-invalid': submitted && f.unstable.errors}">
                            <option value="">Inestable</option>
                            <option value=true>Si</option>
                            <option value=false>No</option>
                          </select>
                          <div *ngIf="submitted && f.unstable.errors" class="div-absoluto">
                            <p class="help is-danger style" *ngIf="unstable_Field!.hasError('required')">
                                Necesita Seleccionar 1 Opción!
                            </p>
                          </div>
                         </div>
                         <div class="control">
                          <select class="form-select form-select-sm mt-2" 
                                  formControlName="stackable" 
                                  aria-label=".form-select-sm example"
                                  [ngClass]="{'is-invalid': submitted && f.stackable.errors}">
                            <option value="">Apilable</option>
                            <option value=true>Si</option>
                            <option value=false>No</option>
                          </select>
                          <div *ngIf="submitted && f.stackable.errors" class="div-absoluto">
                            <p class="help is-danger style" *ngIf="stackable_Field!.hasError('required')">
                                Necesita Seleccionar 1 Opción!
                            </p>
                          </div>
                         </div>
                      </div>
                    </div>
                    
    
                    <div class="col-md-12">
                      <div class="btn-box">
                        <button type="button" id="back2"  name="back2" (click)="previous()" class="btnnext mt-2">Atras</button>
                        <button type="button" id="next3"  (click)="next_step3()" name="next3" class="btnnext mt-2">Siguiente</button>
                      </div>
                    </div>


                  </div>
                  
                </div>
              </div>
            </div>
            <div class="field" *ngIf="step == 4">
              <div class="col-md-8 offset-md-2 col-sm-12">
                <div class="row">
                  <div class="col-12">
                    <div class="step-row mb-4">
    
                    <div  class="col-sm-12" id="progress4" name="progress"></div>
                      <div class="step-col" >Paso 1</div>
                      <div class="step-col">Paso 2</div>
                      <div class="step-col">Paso 3</div>
                      <div class="step-col">Paso 4</div>
                      <div class="step-col">Paso 5</div>
                      <div class="step-col">Paso 6</div>
                      <div class="step-col">Paso 7</div>
                    </div>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-8 offset-md-2 col-sm-12">
                  <h3>Datos de Compra</h3>
  
                  <div class="row">

                    <div class="col-sm-12 col-md-4">
  
                      <div class="step-row2">
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Precio de Compra" 
                          formControlName="purchase_price"
                          [class.is-danger]="purchase_price_Invalid"
                          [class.is-success]="purchase_price_Valid"
                          [ngClass]="{'is-invalid': submitted && f.purchase_price.errors}">
                          <span *ngIf="purchase_price_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="purchase_price_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.purchase_price.errors || purchase_price_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="purchase_price_Field!.invalid && purchase_price_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="purchase_price_Field!.invalid && purchase_price_Field!.hasError('min')">
                                Mínimo 2 caracteres!
                              </p>
                              <p class="help is-danger style" *ngIf="purchase_price_Field!.invalid && purchase_price_Field!.hasError('max')">
                                Máximo 3 caracteres!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Precio Sugerido" 
                          formControlName="suggested_price"
                          [class.is-danger]="suggested_price_Invalid"
                          [class.is-success]="suggested_price_Valid"
                          [ngClass]="{'is-invalid': submitted && f.suggested_price.errors}">
                          <span *ngIf="suggested_price_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="suggested_price_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.suggested_price.errors || suggested_price_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="suggested_price_Field!.invalid && suggested_price_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="suggested_price_Field!.invalid && suggested_price_Field!.hasError('min')">
                                Mínimo 2 caracteres!
                              </p>
                              <p class="help is-danger style" *ngIf="suggested_price_Field!.invalid && suggested_price_Field!.hasError('max')">
                                Máximo 3 caracteres!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Descuento Comercial" 
                          formControlName="commercial_discount"
                          [class.is-danger]="commercial_discount_Invalid"
                          [class.is-success]="commercial_discount_Valid"
                          [ngClass]="{'is-invalid': submitted && f.commercial_discount.errors}">
                          <span *ngIf="commercial_discount_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="commercial_discount_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.commercial_discount.errors || commercial_discount_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="commercial_discount_Field!.invalid && commercial_discount_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="commercial_discount_Field!.invalid && commercial_discount_Field!.hasError('min')">
                                Mínimo 2 caracteres!
                              </p>
                              <p class="help is-danger style" *ngIf="commercial_discount_Field!.invalid && commercial_discount_Field!.hasError('max')">
                                Máximo 3 caracteres!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Descuento Especial" 
                          formControlName="special_discount"
                          [class.is-danger]="special_discount_Invalid"
                          [class.is-success]="special_discount_Valid"
                          [ngClass]="{'is-invalid': submitted && f.special_discount.errors}">
                          <span *ngIf="special_discount_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="special_discount_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.special_discount.errors || special_discount_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="special_discount_Field!.invalid && special_discount_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="special_discount_Field!.invalid && special_discount_Field!.hasError('min')">
                                Mínimo 2 caracteres!
                              </p>
                              <p class="help is-danger style" *ngIf="special_discount_Field!.invalid && special_discount_Field!.hasError('max')">
                                Máximo 3 caracteres!
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-sm-12 col-md-4">
                      <div class="step-row2">
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="text" 
                          placeholder="Nombre del Proveedor" 
                          formControlName="supplier_name"
                          [class.is-danger]="supplier_name_Invalid"
                          [class.is-success]="supplier_name_Valid"
                          [ngClass]="{'is-invalid': submitted && f.supplier_name.errors}">
                          <span *ngIf="supplier_name_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="supplier_name_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.supplier_name.errors || supplier_name_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="supplier_name_Field!.invalid && supplier_name_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="supplier_name_Field!.invalid && supplier_name_Field!.hasError('maxlength')">
                                Máximo 25 caracteres!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="text" 
                          placeholder="País de Fabricación" 
                          formControlName="fabrication_country"
                          [class.is-danger]="fabrication_country_Invalid"
                          [class.is-success]="fabrication_country_Valid"
                          [ngClass]="{'is-invalid': submitted && f.fabrication_country.errors}">
                          <span *ngIf="fabrication_country_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="fabrication_country_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.fabrication_country.errors || fabrication_country_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="fabrication_country_Field!.invalid && fabrication_country_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="fabrication_country_Field!.invalid && fabrication_country_Field!.hasError('maxlength')">
                                Máximo 25 caracteres!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="text" 
                          placeholder="Unidad de Compra" 
                          formControlName="purchase_unit"
                          [class.is-danger]="purchase_unit_Invalid"
                          [class.is-success]="purchase_unit_Valid"
                          [ngClass]="{'is-invalid': submitted && f.purchase_unit.errors}">
                          <span *ngIf="purchase_unit_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="purchase_unit_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.purchase_unit.errors || purchase_unit_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="purchase_unit_Field!.invalid && purchase_unit_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="purchase_unit_Field!.invalid && purchase_unit_Field!.hasError('maxlength')">
                                Máximo 25 caracteres!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="text" 
                          placeholder="Unidad de Consumo" 
                          formControlName="consumption_unit"
                          [class.is-danger]="consumption_unit_Invalid"
                          [class.is-success]="consumption_unit_Valid"
                          [ngClass]="{'is-invalid': submitted && f.consumption_unit.errors}">
                          <span *ngIf="consumption_unit_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="consumption_unit_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.consumption_unit.errors || consumption_unit_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="consumption_unit_Field!.invalid && consumption_unit_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="consumption_unit_Field!.invalid && consumption_unit_Field!.hasError('maxlength')">
                                Máximo 25 caracteres!
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <div class="step-row2">
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Embol(ml)" 
                          formControlName="embol"
                          [class.is-success]="embol_Valid">
                         <!--  <span *ngIf="embol_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span> -->
                          <span *ngIf="embol_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="embol_Valid" class="div-absoluto">
                              <p class="help is-danger style2">
                                Este Campo no es Obligatorio!
                              </p>
                              <!-- <p *ngIf="embol_Invalid == true" class="help is-danger style4">
                                
                              </p> -->
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="text" 
                          placeholder="Factor ICE" 
                          formControlName="factor_ice"
                          [class.is-danger]="factor_ice_Invalid"
                          [class.is-success]="factor_ice_Valid"
                          [ngClass]="{'is-invalid': submitted && f.factor_ice.errors}">
                          <span *ngIf="factor_ice_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="factor_ice_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.factor_ice.errors || factor_ice_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="factor_ice_Field!.invalid && factor_ice_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="factor_ice_Field!.invalid && factor_ice_Field!.hasError('maxlength')">
                                Máximo 25 caracteres!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Unidad por Envase" 
                          formControlName="unit_per_container"
                          [class.is-danger]="unit_per_container_Invalid"
                          [class.is-success]="unit_per_container_Valid"
                          [ngClass]="{'is-invalid': submitted && f.unit_per_container.errors}">
                          <span *ngIf="unit_per_container_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="unit_per_container_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.unit_per_container.errors || unit_per_container_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="unit_per_container_Field!.invalid && unit_per_container_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="unit_per_container_Field!.invalid && unit_per_container_Field!.hasError('min')">
                                Mínimo 2 caracteres!
                              </p>
                              <p class="help is-danger style" *ngIf="unit_per_container_Field!.invalid && unit_per_container_Field!.hasError('max')">
                                Máximo 3 caracteres!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Cantidad Mínima de Compra" 
                          formControlName="minimum_amount_of_purchase"
                          [class.is-danger]="minimum_amount_of_purchase_Invalid"
                          [class.is-success]="minimum_amount_of_purchase_Valid"
                          [ngClass]="{'is-invalid': submitted && f.minimum_amount_of_purchase.errors}">
                          <span *ngIf="minimum_amount_of_purchase_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="minimum_amount_of_purchase_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.minimum_amount_of_purchase.errors || minimum_amount_of_purchase_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="minimum_amount_of_purchase_Field!.invalid && minimum_amount_of_purchase_Field!.hasError('required')">
                                Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="minimum_amount_of_purchase_Field!.invalid && minimum_amount_of_purchase_Field!.hasError('min')">
                                Mínimo 2 caracteres!
                              </p>
                              <p class="help is-danger style" *ngIf="minimum_amount_of_purchase_Field!.invalid && minimum_amount_of_purchase_Field!.hasError('max')">
                                Mínimo 3 caracteres!
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    
    
                    <div class="col-md-12">
                      <div class="btn-box">
                        <button type="button" id="back2"  name="back2" (click)="previous()" class="btnnext mt-2">Atras</button>
                        <button type="button" id="next3"  (click)="next_step4()" name="next3" class="btnnext mt-2">Siguiente</button>
                      </div>
                    </div>


                  </div>
                  
                </div>
              </div>
            </div>
            <div class="field" *ngIf="step == 5">
              <div class="col-md-8 offset-md-2 col-sm-12">
                <div class="row">
                  <div class="col-12">
                    <div class="step-row mb-4">
    
                    <div  class="col-sm-12" id="progress5" name="progress5"></div>
                      <div class="step-col" >Paso 1</div>
                      <div class="step-col">Paso 2</div>
                      <div class="step-col">Paso 3</div>
                      <div class="step-col">Paso 4</div>
                      <div class="step-col">Paso 5</div>
                      <div class="step-col">Paso 6</div>
                      <div class="step-col">Paso 7</div>
                    </div>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-8 offset-md-2 col-sm-12">
                  <h3>Datos de Compra(Escribir solo Números)</h3>
  
                  <div class="row">

                    <div class="col-sm-12 col-md-4">
  
                      <div class="step-row2">
                        <div class="control has-icons-right ">
                          <input  
                          class="input"
                          type="number" 
                          placeholder="Unidad por Blister" 
                          formControlName="unit_per_blister"
                          [class.is-success]="unit_per_blister_Valid">
                          <span *ngIf="unit_per_blister_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="unit_per_blister_Valid" class="div-absoluto">
                              <p class="help is-danger style2">
                                  Este campo no es Obligatorio!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Relación Blister Caja" 
                          formControlName="relation_blister_box"
                          [class.is-success]="relation_blister_box_Valid">
                          <span *ngIf="relation_blister_box_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="relation_blister_box_Valid" class="div-absoluto">
                              <p class="help is-danger style2" >
                                  Este campo no es Obligatorio!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Unidad por Empaque" 
                          formControlName="unit_per_package"
                          [class.is-danger]="unit_per_package_Invalid"
                          [class.is-success]="unit_per_package_Valid"
                          [ngClass]="{'is-invalid': submitted && f.unit_per_package.errors}">
                          <span *ngIf="unit_per_package_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="unit_per_package_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.unit_per_package.errors || unit_per_package_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="unit_per_package_Field!.invalid && unit_per_package_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" 
                                *ngIf="unit_per_package_Field!.invalid && unit_per_package_Field!.hasError('pattern')">
                                Solo escribir Números!
                              </p>
                              <p class="help is-danger style" *ngIf="unit_per_package_Field!.invalid && unit_per_package_Field!.hasError('max')">
                                3 Dígitos Máximo!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Ancho de Presentación(cm)" 
                          formControlName="presentation_unit_width"
                          [class.is-danger]="presentation_unit_width_Invalid"
                          [class.is-success]="presentation_unit_width_Valid"
                          [ngClass]="{'is-invalid': submitted && f.presentation_unit_width.errors}">
                          <span *ngIf="presentation_unit_width_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="presentation_unit_width_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.presentation_unit_width.errors || presentation_unit_width_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="presentation_unit_width_Field!.invalid && presentation_unit_width_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" 
                                *ngIf="presentation_unit_width_Field!.invalid && presentation_unit_width_Field!.hasError('pattern')">
                                Solo escribir Números!
                              </p>
                              <p class="help is-danger style" *ngIf="presentation_unit_width_Field!.invalid && presentation_unit_width_Field!.hasError('max')">
                                3 Dígitos Máximo!
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-sm-12 col-md-4">
                      <div class="step-row2">
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Fondo de Presentación(cm)" 
                          formControlName="presentation_unit_background"
                          [class.is-danger]="presentation_unit_background_Invalid"
                          [class.is-success]="presentation_unit_background_Valid"
                          [ngClass]="{'is-invalid': submitted && f.presentation_unit_background.errors}">
                          <span *ngIf="presentation_unit_background_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="presentation_unit_background_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.presentation_unit_background.errors || presentation_unit_background_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="presentation_unit_background_Field!.invalid && presentation_unit_background_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" 
                                *ngIf="presentation_unit_background_Field!.invalid && presentation_unit_background_Field!.hasError('pattern')">
                                Solo escribir Números!
                              </p>
                              <p class="help is-danger style" *ngIf="presentation_unit_background_Field!.invalid && presentation_unit_background_Field!.hasError('max')">
                                3 Dígitos Máximo!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Alto de Presentación(cm)" 
                          formControlName="presentation_unit_height"
                          [class.is-danger]="presentation_unit_height_Invalid"
                          [class.is-success]="presentation_unit_height_Valid"
                          [ngClass]="{'is-invalid': submitted && f.presentation_unit_height.errors}">
                          <span *ngIf="presentation_unit_height_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="presentation_unit_height_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.presentation_unit_height.errors || presentation_unit_height_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="presentation_unit_height_Field!.invalid && presentation_unit_height_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" 
                                *ngIf="presentation_unit_height_Field!.invalid && presentation_unit_height_Field!.hasError('pattern')">
                                Solo escribir Números!
                              </p>
                              <p class="help is-danger style" *ngIf="presentation_unit_height_Field!.invalid && presentation_unit_height_Field!.hasError('max')">
                                3 Dígitos Máximo!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Peso Presentación(Kg)" 
                          formControlName="presentation_unit_weight"
                          [class.is-danger]="presentation_unit_weight_Invalid"
                          [class.is-success]="presentation_unit_weight_Valid"
                          [ngClass]="{'is-invalid': submitted && f.presentation_unit_weight.errors}">
                          <span *ngIf="presentation_unit_weight_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="presentation_unit_weight_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.presentation_unit_weight.errors || presentation_unit_weight_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="presentation_unit_weight_Field!.invalid && presentation_unit_weight_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" 
                                *ngIf="presentation_unit_weight_Field!.invalid && presentation_unit_weight_Field!.hasError('pattern')">
                                Solo escribir Números!
                              </p>
                              <p class="help is-danger style" *ngIf="presentation_unit_weight_Field!.invalid && presentation_unit_weight_Field!.hasError('max')">
                                3 Dígitos Máximo!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Ancho del Paquete(cm)" 
                          formControlName="package_width"
                          [class.is-danger]="package_width_Invalid"
                          [class.is-success]="package_width_Valid"
                          [ngClass]="{'is-invalid': submitted && f.package_width.errors}">
                          <span *ngIf="package_width_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="package_width_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.package_width.errors || package_width_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="package_width_Field!.invalid && package_width_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" 
                                *ngIf="package_width_Field!.invalid && package_width_Field!.hasError('pattern')">
                                Solo escribir Números!
                              </p>
                              <p class="help is-danger style" *ngIf="package_width_Field!.invalid && package_width_Field!.hasError('max')">
                                3 Dígitos Máximo!
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                      <div class="step-row2">
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Fondo del Paquete(cm)" 
                          formControlName="package_background"
                          [class.is-danger]="package_background_Invalid"
                          [class.is-success]="package_background_Valid"
                          [ngClass]="{'is-invalid': submitted && f.package_background.errors}">
                          <span *ngIf="package_background_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="package_background_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.package_background.errors || package_background_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="package_background_Field!.invalid && package_background_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" 
                                *ngIf="package_background_Field!.invalid && package_background_Field!.hasError('pattern')">
                                Solo escribir Números!
                              </p>
                              <p class="help is-danger style" *ngIf="package_background_Field!.invalid && package_background_Field!.hasError('max')">
                                3 Dígitos Máximo!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Alto del Paquete(cm)" 
                          formControlName="package_height"
                          [class.is-danger]="package_height_Invalid"
                          [class.is-success]="package_height_Valid"
                          [ngClass]="{'is-invalid': submitted && f.package_height.errors}">
                          <span *ngIf="factor_ice_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="factor_ice_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.package_height.errors || package_height_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="package_height_Field!.invalid && package_height_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" 
                                *ngIf="package_height_Field!.invalid && package_height_Field!.hasError('pattern')">
                                Solo escribir Números!
                              </p>
                              <p class="help is-danger style" *ngIf="package_height_Field!.invalid && package_height_Field!.hasError('max')">
                                3 Dígitos Máximo!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="number" 
                          placeholder="Peso del Paquete(Kg)" 
                          formControlName="package_weight"
                          [class.is-danger]="package_weight_Invalid"
                          [class.is-success]="package_weight_Valid"
                          [ngClass]="{'is-invalid': submitted && f.package_weight.errors}">
                          <span *ngIf="package_weight_Invalid" class="icon is-small is-right">
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="package_weight_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="submitted && f.package_weight.errors || package_weight_Invalid" class="div-absoluto">
                              <p class="help is-danger style" *ngIf="package_weight_Field!.invalid && package_weight_Field!.hasError('required')">
                                  Este campo es Obligatorio!
                              </p>
                              <p class="help is-danger style" *ngIf="package_weight_Field!.invalid && package_weight_Field!.hasError('pattern')">
                                Solo escribir Numeros!
                              </p>
                              <p class="help is-danger style" *ngIf="package_weight_Field!.invalid && package_weight_Field!.hasError('max')">
                                3 Dígitos Máximo!
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    
    
                    <div class="col-md-12">
                      <div class="btn-box">
                        <button type="button" id="back2"  name="back2" (click)="previous()" class="btnnext mt-2">Atras</button>
                        <button type="button" id="next3"  (click)="next_step5()" name="next3" class="btnnext mt-2">Siguiente</button>
                      </div>
                    </div>


                  </div>
                  
                </div>
              </div>
            </div>
            <div class="field" *ngIf="step == 6">
              <div class="col-md-8 offset-md-2 col-sm-12">
                <div class="row">
                  <div class="col-12">
                    <div class="step-row mb-4">
    
                    <div  class="col-sm-12" id="progress6" name="progress6"></div>
                      <div class="step-col" >Paso 1</div>
                      <div class="step-col">Paso 2</div>
                      <div class="step-col">Paso 3</div>
                      <div class="step-col">Paso 4</div>
                      <div class="step-col">Paso 5</div>
                      <div class="step-col">Paso 6</div>
                      <div class="step-col">Paso 7</div>
                    </div>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-8 offset-md-2 col-sm-12">
                  <h3>Datos Complementarios</h3>
  
                  <div class="row">

                    <div class="col-sm-12 col-md-6">
  
                      <div class="step-row2">
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="text" 
                          placeholder="Principio Activo/Molécula" 
                          formControlName="active_ingredient"
                          [class.is-success]="active_ingredient_Valid">
                          <span *ngIf="active_ingredient_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="active_ingredient_Valid" class="div-absoluto">
                              <p class="help is-success style2">
                                  Este campo no es Obligatorio!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="text" 
                          placeholder="Concentración" 
                          formControlName="concentration"
                          [class.is-success]="concentration_Valid">
                          <span *ngIf="concentration_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="concentration_Valid" class="div-absoluto">
                              <p class="help is-success style2">
                                  Este campo es Obligatorio!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="text" 
                          placeholder="Presentación" 
                          formControlName="presentation"
                          [class.is-success]="presentation_Valid">
                          <span *ngIf="presentation_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="presentation_Valid" class="div-absoluto">
                              <p class="help is-success style2">
                                  Este campo no es Obligatorio!
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-sm-12 col-md-6">
                      <div class="step-row2">
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="text" 
                          placeholder="Acción Terapeútica" 
                          formControlName="therapeutic_action"
                          [class.is-success]="therapeutic_action_Valid">
                          <span *ngIf="therapeutic_action_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="therapeutic_action_Valid" class="div-absoluto">
                              <p class="help is-success style2">
                                  Este campo no es Obligatorio!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="text" 
                          placeholder="Aplicaciones" 
                          formControlName="aplications"
                          [class.is-success]="aplications_Valid">
                          <span *ngIf="aplications_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="aplications_Valid" class="div-absoluto">
                              <p class="help is-success style2">
                                  Este campo no es Obligatorio!
                              </p>
                          </div>
                        </div>
                        <div class="control has-icons-right ">
                          <input 
                          class="input"
                          type="text" 
                          placeholder="Observaciones" 
                          formControlName="observations"
                          [class.is-success]="observations_Valid">
                          <span *ngIf="observations_Valid" class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                          <div *ngIf="observations_Valid" class="div-absoluto">
                              <p class="help is-success style2">
                                  Este campo no es Obligatorio!
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="btn-box">
                        <button type="button"  (click)="previous()" class="btnnext mt-2">Atras</button>
                        <button type="button" (click)="next_step6()" class="btnnext mt-2">Siguiente</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="field" *ngIf="step == 7">
              <div class="col-md-8 offset-md-2 col-sm-12">
                <div class="row">
                  <div class="col-12">
                    <div class="step-row mb-4">
    
                    <div  class="col-sm-12" id="progress7"></div>
                      <div class="step-col" >Paso 1</div>
                      <div class="step-col">Paso 2</div>
                      <div class="step-col">Paso 3</div>
                      <div class="step-col">Paso 4</div>
                      <div class="step-col">Paso 5</div>
                      <div class="step-col">Paso 6</div>
                      <div class="step-col">Paso 7</div>
                    </div>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-md-8 offset-md-2 col-sm-12">
                  <h3>Fotos Del Producto</h3>
  
                  <div class="row">

                    <div class="col-sm-12 col-md-12">
  
                      <div class="step-row2">
                        <div class="mb-3">
                          <label for="formFile" class="form-label">Seleccione la Foto del Producto:</label>
                          <input name="file" type="file" (change)="onFileSelected($event)" class="form-control" >
                        </div>
                      </div>
                      <!-- <div class="step-row2">
                        <div class="mb-3">
                          <label for="formFile" class="form-label">Seleccione la Foto del Producto:</label>
                          <input name="file"  class="form-control" type="file">
                        </div>
                      </div> -->
                    </div>
                    <div class="col-md-12">
                      <div class="btn-box">
                        <button type="button"  (click)="previous()" class="btnnext mt-2">Atras</button>
                        <button type="submit" class="btnnext mt-2">Guardar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>    
  </div>
</div>


