.ngselect{
    margin-top: 5px;
}
.ng-select.custom ::ng-deep .ng-select-container{            
    min-height: 40px
}
.degrade{
    /* background: linear-gradient(45deg, #380038, #0CBABA); */
    /* background: linear-gradient(to right, #380038, #0CBABA); */
    /* background: linear-gradient(225deg, #819c99 0, #709593 16.67%, #5d8d8e 33.33%, #46858a 50%, #297c87 66.67%, #007485 83.33%, #006d83 100%); */
    background-color: rgb(170, 195, 241);
    /* background: linear-gradient(45deg, #4FACFE, #00F2FE); */
    /* background: linear-gradient(45deg, #20BF55, #01BAEF); */
    border-radius: 15px;
}
#tablePersonalized td{
    width: 10px;
    height: 5px;
    overflow: auto;
}
pagination-controls /deep/ .ngx-pagination {
  padding-left: 0px !important;
}
pagination-controls /deep/ .ngx-pagination .current,
pagination-controls /deep/ .btn-info {
  background: #17a2b8 !important;
  border: transparent !important;
  border-radius: 5px !important;
  padding-top: 0;
}
pagination-controls /deep/ .ngx-pagination .current:hover {
  background: #17a2b8 !important;
  border: transparent !important;
}
pagination-controls /deep/ .pagination-controls a, .ngx-pagination button {
  
  display: block;
  /* padding: 0.1875rem 0.625rem; */
  border-radius: 0;
}
pagination-controls /deep/ .ngx-pagination a:hover, .ngx-pagination button:hover {
  background: transparent!important;
}
pagination-controls /deep/ .pagination-controls button:hover {
  background: #ffa500;
}
pagination-controls /deep/ .ngx-pagination li {
  /* margin-right: 0.0625rem; */
  border-radius: 5px;
  height: 30px;
  padding-top: 0;
  
}
pagination-controls /deep/ .pagination-previous, .pagination-next, .pagination-link, .pagination-ellipsis {
  margin-bottom: 0;
  margin-top: 3px;
}
pagination-controls /deep/ .pagination-next, .pagination-link, .pagination-ellipsis {
  margin-bottom: 0;
  margin-top: 3px;
}
pagination-controls /deep/ .ngx-pagination .disabled {
  /* padding: 0.1875rem 0.625rem; */
  /* color: #cacaca; */
  cursor: default;
}
thead{
  background-color: rgb(63, 197, 190);
}
.style{
  width: 100%!important;
}