<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-sm-12">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <input type="text" [(ngModel)]="filterPost" class="form-control" placeholder="filtro: Busqueda por Producto" name="filterPost" aria-describedby="basic-addon1">
          <br>
          <!-- selected value is {{capture}} -->
        </div>
        <div class="col-sm-12 col-md-6">
          <select class="form-select" [(ngModel)]="filterPost2"  name="filterPost2" aria-label="Seleccione 1 Estado">
            <option value="">Todos los Estados</option>
            <option *ngFor="let state of states" [value]="state.state_description">{{state.state_description}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
      <div class="col">
          <div class="table-container">
              <table class="table is-bordered">
              <thead class="text-center">
                <tr>
                  <!-- <th><abbr title="Position">Pos</abbr></th> -->
                  <th>Id</th>
                  <th>Descripción</th>
                  <th>Envase</th>
                  <th>Estado</th>
                  <th>Procesos</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let products of products_|filter:filterPost|filterThree: filterPost2|paginate: {itemsPerPage: 4, currentPage: current_page}" >
                  <th class="text-black">{{products.id}}</th>
                  <td class="text-black">{{products.description}}</td>
                  <td>{{products.container}}</td>
                  <td>{{products.estado}}</td>
                  <td>
                      <div class="text-center">
                        <div class="btn-group">
                          <button type="button" (click)="view(products.id)" class="button is-small is-info is-rounded">
                            Completar
                          </button>
                        </div>
                      </div>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
            <div>
              <pagination-controls (pageChange)="current_page = $event"></pagination-controls>
            </div>
      </div>
  </div>
</div>