.style {
    position: relative;
    top: 100%;
    z-index: 5;
    max-width: 100%;
    padding: .25rem .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgb(245 46 65 / 83%);
    border-radius: .25rem;
}
.style2{
    position: relative;
    top: 100%;
    z-index: 5;
    max-width: 100%;
    padding: .25rem .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgb(50, 163, 50);
    border-radius: .25rem;
}
.div-absoluto{
    position: absolute;
}
.degrade{
    /* background: linear-gradient(45deg, #380038, #0CBABA); */
    /* background: linear-gradient(to right, #380038, #0CBABA); */
    background: linear-gradient(225deg, #819c99 0, #709593 16.67%, #5d8d8e 33.33%, #46858a 50%, #297c87 66.67%, #007485 83.33%, #006d83 100%);
    /* background: linear-gradient(45deg, #4FACFE, #00F2FE); */
    /* background: linear-gradient(45deg, #20BF55, #01BAEF); */
    border-radius: 15px;
}
div.field.column{
    margin-bottom: -20px;
}