<div class="container is-max-desktop degrade">
    <div class="row">
        <div class="col-12">
          <div class="columns">
            <div class="column is-mobile">
              <div class="tabs is-centered is-grapped is-boxed">
                <ul>
                  <li class="tab1 is-active">
                    <a id="product_information1" name="analist_form">
                      <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                      <span class="text-black">Formulario(Datos Adicionales)</span>
                    </a>
                  </li>
                  <li class="tab2">
                    <a id="product_information2" name="product_information">
                      <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                      <span class="text-black">Información del Producto</span>
                    </a>
                  </li>
                  <li class="tab3">
                    <a id="product_information3" name="product_information">
                      <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                      <span class="text-black">Información del Producto</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- <div class="column is-mobile">
              <div class="tabs is-centered is-grapped is-boxed">
                <ul>
                  <li class="tab2">
                    <a id="product_information" name="product_information">
                      <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                      <span class="text-green">Información del Producto</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div> -->
          </div>
            <div id="form1" name="form1" *ngFor="let item of product">
              <div class="columns">
                <div class="field column">
                    <label class="label text-black">Descripcion</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.description}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Presentación/envase</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.container}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Forma Farma.</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.pharmaceutical_form}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Medida</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.measure}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Unidad</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="unidad" 
                              value="{{item.unit}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns">
                <div class="field column">
                    <label class="label text-black">Condición de Venta</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.precondition_for_sale}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Linea</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="Línea" 
                              value="{{item.line}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Sub-Linea</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.sub_line}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Grupo</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.group}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Código Barra EAN13</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.bar_code_ean_13}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns">
                <div class="field column">
                    <label class="label text-black">Código Barra EAN14</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.bar_code_ean_14}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Código IMS</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.code_ims}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Código Factura</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.code_supplier_invoice}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Registro Sanitario</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.health_register_number}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Numero de Lote</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.lot_number}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns" style="margin-bottom: 40px;">
                <div class="field column">
                    <label class="label text-black">Area de Producto</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.product_area}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Registro Senasag</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.senasag_registration_number}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Estado</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.status}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Rango de Vigencia</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.validity_initial}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Rango de Vigencia</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.validity_final}}" disabled>
                    </div>
                </div>
              </div>
            </div>
            <div class="form2 is-hidden" *ngFor="let item of product">
              <div class="columns">
                <div class="field column">
                    <label class="label text-black">Cadena de Frío</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.cold_chain}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Humedad</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.humidity}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Fotosensible</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.photosensitive}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Temp. Almacenaje</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.storage_temperature}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Pos. Almacenaje</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.storage_position}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns">
                <div class="field column">
                    <label class="label text-black">Inestable</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.stackable}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Apilable</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.unstable}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Precio de Compra</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.purchase_price}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Precio Sugerido</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.suggested_price}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Descuento Comercial</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.commercial_discount}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns">
                <div class="field column">
                    <label class="label text-black">Descuento Especial</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.special_discount}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Nombre Proveedor</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.supplier_name}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">País de Fabricación</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.fabrication_country}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Unidad de Compra</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.purchase_unit}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Unidad de Consumo</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.consumption_unit}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns" style="margin-bottom: 40px;">
                <div class="field column">
                    <label class="label text-black">Embol(ml)</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.embol}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Factor ICE</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.factor_ice}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Unidad por Envase</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.unit_per_container}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Cant. Min. de Compra</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.minimum_amount_of_purchase}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Unidad por Blister</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.unit_per_blister}}" disabled>
                    </div>
                </div>
              </div>
            </div>
            <div class="form3 is-hidden" *ngFor="let item of product">
              <div class="columns">
                <div class="field column">
                    <label class="label text-black">Relación Blister/Caja</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.relation_blister_box}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Unidad por Empaque</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.unit_per_package}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Ancho/Presentación</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.presentation_unit_width}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Fondo/Presentacion</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.presentation_unit_background}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Alto/Presentación</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.presentation_unit_height}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns" >
                <div class="field column">
                    <label class="label text-black">Peso/Presentación</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.presentation_unit_weight}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Ancho/Paquete</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.package_width}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Fondo/Paquete</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.package_background}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Alto/Paquete</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.package_height}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Peso/Paquete</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.package_weight}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns">
                <div class="field column">
                    <label class="label text-black">PrincipioAct/Molecula</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.active_ingredient}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Concentración</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.concentration}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Presentación</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.presentation}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Acción Terapeutica</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.therapeutic_action}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Aplicaciones</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.aplications}}" disabled>
                    </div>
                </div>
              </div>
              <div class="columns is-multiline">
                <div class="field column">
                    <label class="label text-black">Observaciones</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="{{item.observations}}" disabled>
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Tipo de Consumo</label>
                    <div class="control has-icons-right">
                      <input  
                              class="input" 
                              type="text" 
                              placeholder="No hay Datos!" 
                              value="">
                    </div>
                </div>
                <div class="field column">
                    <label class="label text-black">Seleccionar-Analista-para-Completado</label>
                    <div class="control">
                      <select class="form-select form-select-sm mt-1" style="font-size: medium; width: 100%;height: 40px;"
                              [(ngModel)]="analist_selected" required>
                        <option value="">Analistas</option>
                        <option value="1">Si</option>
                        <option value="2">No</option>
                        <option value="2">No</option>
                        <option value="2">No</option>
                        <option value="2">No</option>
                      </select>
                    </div>
                </div>
              </div>
              <div class="columns is-multiline" style="margin-bottom: 10px;margin-top: 10px;">
                <div class="column" >
                  <div class="buttons has-addons is-centered">
                      <button type="submit" class="button is-success" (click)="approve(item.id)" style="width: 200px;">Aprobar Completado</button>
                  </div>
                </div>
                <div class="column">
                  <div class="buttons has-addons is-centered">
                    <button type="submit" class="button is-danger" (click)="disapprove(item.id)" style="width: 200px;">Rechazar Completado</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
    </div>
</div>
