
 <!--Main Sidebar Container -->
 <aside class="main-sidebar sidebar-dark-info elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
      <img src="../../../assets/dist/img/farmacia_chavez_logo.png" class="brand-image img-circle elevation-3" style="max-height: 30px;" >
      <span class="brand-text font-weight-light">Farmacias Chavez</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar style">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../../assets/dist/img/avatar5.png" class="img-circle2 elevation-2"alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block" style="margin-right: 180px;">{{userName}}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Buscador" aria-label="Search">
          <div class="input-group-append">
            
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu Admin-->
      <nav class="mt-2" *ngIf="isAdmin">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item" *ngFor="let menuitem of menuItems">
            <a href="" class="nav-link">
              <i class="{{menuitem.icon}}"></i>
              <p>
                {{menuitem.title}}
                <!-- <span class="badge badge-primary ml-4">{{menuitem.submenu.length}}</span> -->
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" *ngFor="let submenuitem of menuitem.submenu">
              <li class="nav-item background-color">
                <a [routerLink]="submenuitem.url" class="nav-link" style="cursor: pointer;">
                  <i class="fas fa-check ml-1"></i>
                  <p class="ml-3 text-white">{{submenuitem.title}}</p>
                </a>
              </li>
            </ul>
          </li>
            <li class="nav-item" *ngFor="let submenuitem of menuItems2">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-plus-square"></i>
                <p>
                  {{submenuitem.title}}
                  <!-- <span class="badge badge-primary ml-4">{{submenuitem.length}}</span> -->
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview" style="display: none;" *ngFor="let submenuitem2 of submenuitem.submenu">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>
                      {{submenuitem2.title}}
                      <i class="fas fa-angle-left right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview" style="display: none;" *ngFor="let submenuitem3 of submenuitem2.submenu2">
                    <li class="nav-item background-color">
                      <a routerLink="{{submenuitem3.router}}" class="nav-link">
                        <i class="fas fa-check nav-icon"></i>
                        <p class="text-white">{{submenuitem3.title}}</p>
                      </a>
                    </li>
                  </ul>
                  
                </li>
                <!-- <li class="nav-item">
                  <a href="examples/lockscreen.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Lockscreen</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="examples/legacy-user-menu.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Legacy User Menu</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="examples/language-menu.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Language Menu</p>
                  </a>
                </li> -->
              </ul>
              
             <!-- aqui va el logout -->
            </li>
          <ul>
            <li class="nav-item">
              <a href="/login" class="nav-link">
                
                <i class="fas fa-sign-out-alt ml-2"></i>
                
                <p class="ml-1" (click)="logOut()">
                  Cerrar Sesión
                </p>
              </a>
            </li>
          </ul>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
      <!-- Sidebar Menu Analist-->
      <nav class="mt-2" *ngIf="isAnalist">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu2" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item" *ngFor="let menuitem of analist_menu">
            <a href="" class="nav-link">
              <i class="{{menuitem.icon}}"></i>
              <p>
                {{menuitem.title}}
                <!-- <span class="badge badge-primary ml-4">{{menuitem.submenu.length}}</span> -->
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" *ngFor="let submenuitem of menuitem.submenu">
              <li class="nav-item background-color">
                <a [routerLink]="submenuitem.url" class="nav-link" style="cursor: pointer;">
                  <i class="fas fa-check ml-1"></i>
                  <p class="ml-3 text-white">{{submenuitem.title}}</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link">
              
              <i class="fas fa-sign-out-alt ml-2"></i>
              
              <p class="ml-1" (click)="logOut()">
                Cerrar Sesión
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
      <!-- Sidebar Menu Analist-->
      <nav class="mt-2" *ngIf="isJanalist">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu2" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item" *ngFor="let menuitem of analist_boss_menu">
            <a href="" class="nav-link">
              <i class="{{menuitem.icon}}"></i>
              <p>
                {{menuitem.title}}
                <!-- <span class="badge badge-primary ml-4">{{menuitem.submenu.length}}</span> -->
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" *ngFor="let submenuitem of menuitem.submenu">
              <li class="nav-item background-color">
                <a [routerLink]="submenuitem.url" class="nav-link" style="cursor: pointer;">
                  <i class="fas fa-check ml-1"></i>
                  <p class="ml-3 text-white">{{submenuitem.title}}</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link">
              
              <i class="fas fa-sign-out-alt ml-2"></i>
              
              <p class="ml-1" (click)="logOut()">
                Cerrar Sesión
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
      <!-- Sidebar Menu Supplier-->
      <nav class="mt-2" *ngIf="isSupplier">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item" *ngFor="let submenuitem of menuItems2">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-plus-square"></i>
                <p>
                  {{submenuitem.title}}
                  <!-- <span class="badge badge-primary ml-4">{{submenuitem.length}}</span> -->
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview" style="display: none;" *ngFor="let submenuitem2 of submenuitem.submenu">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>
                      {{submenuitem2.title}}
                      <i class="fas fa-angle-left right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview" style="display: none;" *ngFor="let submenuitem3 of submenuitem2.submenu2">
                    <li class="nav-item background-color">
                      <a routerLink="{{submenuitem3.router}}" class="nav-link">
                        <i class="fas fa-check nav-icon"></i>
                        <p class="text-white">{{submenuitem3.title}}</p>
                      </a>
                    </li>
                  </ul>
                  
                </li>
                <!-- <li class="nav-item">
                  <a href="examples/lockscreen.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Lockscreen</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="examples/legacy-user-menu.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Legacy User Menu</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="examples/language-menu.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Language Menu</p>
                  </a>
                </li> -->
              </ul>
              
             <!-- aqui va el logout -->
            </li>
          <ul>
            <li class="nav-item">
              <a href="/login" class="nav-link">
                
                <i class="fas fa-sign-out-alt ml-2"></i>
                
                <p class="ml-1" (click)="logOut()">
                  Cerrar Sesión
                </p>
              </a>
            </li>
          </ul>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
      <!-- Sidebar Menu Admin-->
      <nav class="mt-2" *ngIf="isDoctor">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item" *ngFor="let menuitem of doctor_menu">
            <a href="" class="nav-link">
              <i class="{{menuitem.icon}}"></i>
              <p>
                {{menuitem.title}}
                <!-- <span class="badge badge-primary ml-4">{{menuitem.submenu.length}}</span> -->
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" *ngFor="let submenuitem of menuitem.submenu">
              <li class="nav-item background-color">
                <a [routerLink]="submenuitem.url" class="nav-link" style="cursor: pointer;">
                  <i class="fas fa-check ml-1"></i>
                  <p class="ml-3 text-white">{{submenuitem.title}}</p>
                </a>
              </li>
            </ul>
          </li>
          <ul>
            <li class="nav-item">
              <a href="/login" class="nav-link">
                
                <i class="fas fa-sign-out-alt ml-2"></i>
                
                <p class="ml-1" (click)="logOut()">
                  Cerrar Sesión
                </p>
              </a>
            </li>
          </ul>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
   