.background-color {
    background-color: #17a2b8;
    color: rgb(255, 255, 255);
  }

.img-circle2{
    float: left;
    line-height: .8;
    /* margin-left: .9rem; */
    margin-right: 40px;
    /* margin-top: -3px; */
    max-height: 33px;
    width: auto;
}
.brand-image{
    margin-top: 0;
}
/* .img-circle2{
    display: block;
    height: auto;
    width: 1cm;
    border-radius: 50%;
} */
.style{
    overscroll-behavior-y: initial;
}