.style {
    position: relative;
    top: 100%;
    z-index: 5;
    max-width: 100%;
    padding: .25rem .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgb(245 46 65 / 83%);
    border-radius: .25rem;
}
.style2{
    position: relative;
    top: 100%;
    z-index: 5;
    max-width: 100%;
    padding: .25rem .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgb(50, 163, 50);
    border-radius: .25rem;
}
.div-absoluto{
    position: absolute;
}
.degrade{
    /* background: linear-gradient(45deg, #380038, #0CBABA); */
    /* background: linear-gradient(to right, #380038, #0CBABA); */
    background: radial-gradient(circle at 0% 0%, #93b299 0, #85ae95 10%, #74a892 20%, #60a28e 30%, #479b8c 40%, #1f938a 50%, #008b8a 60%, #00838b 70%, #007c8e 80%, #007691 90%, #006f95 100%);
    /* background: linear-gradient(45deg, #4FACFE, #00F2FE); */
    /* background: linear-gradient(45deg, #20BF55, #01BAEF); */
    border-radius: 15px;
}
div.field.column{
    margin-bottom: -20px;
}