
<div class="container">
  <div class="row">
    <!-- <div class="col-md-8 offset-md-2 col-sm-12"> -->
    <div class="col">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <input type="text" [(ngModel)]="filterPost" class="form-control" placeholder="filtro: Busqueda por Nombre" name="filterPost" aria-describedby="basic-addon1">
          <br>
          <!-- selected value is {{capture}} -->
        </div>
        <!-- <div class="col-sm-12 col-md-2">
          <select class="form-select" [(ngModel)]="filterPost2"  name="filterPost2" aria-label="Seleccione 1 Estado">
            <option value="">Todos los Estados</option>
            <option *ngFor="let state of states" [value]="state.id">{{state.state_description}}</option>
          </select>
          <br>
        </div> -->
        <div class="col-sm-12 col-md-2">
            <ng-select  
                   placeholder="Línea"
                   [(ngModel)]="filterPost3"  name="filterPost3"
                   class="custom"
                   [multiple]="false"
                   >
             <ng-option value="">Líneas</ng-option>
             <ng-option *ngFor="let line of lines" [value]="line.nombrelinea">{{line.nombrelinea}}</ng-option>
           </ng-select>
           <br>
        </div>
        <div class="col-sm-12 col-md-2">
            <ng-select  
                   placeholder="Sub-línea"
                   [(ngModel)]="filterPost4"  name="filterPost4"
                   class="custom"
                   [multiple]="false"
                   >
             <ng-option value="">Sub-lineas</ng-option>
             <ng-option *ngFor="let sub_line of sub_lines" [value]="sub_line.nombresublinea">{{sub_line.nombresublinea}}</ng-option>
           </ng-select>
           <br>
        </div>
        <div class="col-sm-12 col-md-2">
            <ng-select  
                   placeholder="Grupo"
                   [(ngModel)]="filterPost5"  name="filterPost5"
                   class="custom"
                   [multiple]="false"
                   >
             <ng-option value="">Grupos</ng-option>
             <ng-option *ngFor="let group of groups" [value]="group.nombregrupo">{{group.nombregrupo}}</ng-option>
           </ng-select>
           <br>
        </div>
        <div class="col-sm-12 col-md-2">
          <button class="button is-success style btnEdit">Agregar Asignaciones</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
      <div class="col">
          <div class="table-container">
              <table class="table is-bordered">
              <thead class="text-center">
                <tr>
                  <!-- <th><abbr title="Position">Pos</abbr></th> -->
                  <th>Código Analista</th>
                  <th>Nombre</th>
                  <th>Apellido Paterno</th>
                  <th>Apellido Materno</th>
                  <th>Línea</th>
                  <th>Sub-Línea</th>
                  <th>Grupo</th>
                  <!-- <th>Procesos</th> -->
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let products of analists_assignments | filterSeven:filterPost | filterFour: filterPost3 | filterFive: filterPost4 | filterSix: filterPost5| paginate: {itemsPerPage: 4, currentPage: current_page}" >
                  <th>{{products.codigoanalista}}</th>
                  <td >{{products.nombre}}</td>
                  <td>{{products.apellidopaterno}}</td>
                  <td>{{products.apellidomaterno}}</td>
                  <td>{{products.linea}}</td>
                  <td>{{products.sublinea}}</td>
                  <td>{{products.grupo}}</td>
                  <!-- <td>
                      <div class="text-center">
                        <div class="btn-group">
                          <button type="button" class="button is-small is-primary is-rounded">
                            Visualizar
                          </button>
                        </div>
                      </div>
                    </td> -->
                </tr>
              </tbody>
            </table>
          </div>
            <div>
              <pagination-controls (pageChange)="current_page = $event"></pagination-controls>
            </div>
      </div>
  </div>
</div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close" id="close" name="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="container is-max-desktop degrade">
        <div class="row">
            <div class="col-12">
                  <div class="columns" style="margin-top: 2px;">
                      <div class="column">
                          <div class="field">
                            <label class="label">Analista</label>
                            <div class="control">
                                <ng-select  
                                      placeholder="Seleccionar Analista"
                                      class="custom mt-1"
                                      [(ngModel)]="analist_code"
                                      [multiple]="false">
                                    <ng-option value="">Analistas</ng-option>
                                    <ng-option *ngFor="let analist of analists" [value]="analist.codigousuario">{{analist.nombre}} {{analist.apellidopaterno}} {{analist.apellidomaterno}}</ng-option>
                                </ng-select>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="columns">
                    <div class="column">
                        <div class="field">
                          <label class="label">Línea</label>
                          <div class="control">
                            <ng-select  
                                      placeholder="Seleccionar Linea"
                                      class="custom mt-1"
                                      [(ngModel)]="line_code"
                                      [multiple]="false">
                                    <ng-option value="">Líneas</ng-option>
                                    <ng-option *ngFor="let line of lines" [value]="line.codigolinea">{{line.nombrelinea}}</ng-option>
                            </ng-select>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column">
                        <div class="field">
                          <label class="label">Sub-Línea</label>
                          <div class="control">
                            <ng-select  
                                      placeholder="Seleccionar Sub-Linea"
                                      class="custom mt-1"
                                      [(ngModel)]="sub_line_code"
                                      [multiple]="false">
                                    <ng-option value="">Sub-líneas</ng-option>
                                    <ng-option *ngFor="let sub_line of sub_lines" [value]="sub_line.codigosublinea">{{sub_line.nombresublinea}}</ng-option>
                            </ng-select>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="columns" style="margin-bottom: 10px;">
                    <div class="column">
                        <div class="field">
                          <label class="label">Grupo</label>
                          <div class="control">
                            <ng-select  
                                      placeholder="Seleccionar Grupo"
                                      class="custom mt-1"
                                      [(ngModel)]="group_code"
                                      [multiple]="false">
                                    <ng-option value="">Grupos</ng-option>
                                    <ng-option *ngFor="let group of groups" [value]="group.codigogrupo">{{group.nombregrupo}}</ng-option>
                            </ng-select>
                          </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    </section>
    <footer class="modal-card-foot" style="align-items: center;">
      <button (click)="save_assignment()" class="button is-success">Guardar Asignación</button>
      <button class="button close2">Cancelar</button>
    </footer>
  </div>
</div>