
<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <strong><b>Version</b> Beta</strong>
    </div>
    <div class="text-center">
        <strong>Prueba {{year}} <a >Farmacias Chavez</a>.</strong> Derechos Reservados.
    </div>
  </footer>

